{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_admin')}}">Listar Usuario</a>{% endblock %}
{% block hijo %}Editar Usuario{% endblock %}

{% block contenedor %}
    <form action="{{path('admin_admin_update', {'id': entity.id})}}" method="POST">
        <div class="form-group">
            <label for="username">Ingrese nombre de usuario:</label>
            <input type="text" class="form-control" name="username" id="username" value="{{entity.username}}">
        </div>
        <div class="form-group">
            <label for="password1">Contraseña</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <label for="password2">Repita su contraseña</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <label for="correo">Ingrese su correo Electrónico:</label>
            <input type="email" class="form-control" name="correo" id="correo" value="{{entity.email}}">
        </div>




        {% if rol == 'ROLE_ADMIN' %}
            <select name="estado" id="estado" class="form-control">
                {% if entity.isActive  == 0%}
                    <option value="0" selected>Desactivado</option>
                    <option value="1">Activado</option>
                {% endif %}
                {% if entity.isActive  == 1%}
                    <option value="0" >Desactivado</option>
                    <option value="1" selected>Activado</option>
                {% endif %}

            </select>
            <div class="form-group">
                <label for="correo">Seleccione su Rol:</label>
                <select name="roles" id="roles" class="form-control">

                    <option value="{{rolactual.id}}">{{rolactual.nombrerol}}</option>
                    {% for rol in roles %}
                        <option value="{{rol.id}}">{{rol.nombrerol}}</option>
                    {% endfor %}
                </select>
            </div>

        {% elseif rol == 'ROLE_USER' %}
            <div class="form-group" hidden>
            <select name="estado" id="estado" class="form-control" >
                {% if entity.isActive  == 0%}
                    <option value="0" selected>Desactivado</option>
                    <option value="1">Activado</option>
                {% endif %}
                {% if entity.isActive  == 1%}
                    <option value="0" >Desactivado</option>
                    <option value="1" selected>Activado</option>
                {% endif %}

            </select>
                </div>
            <div class="form-group" hidden>
                <label for="correo">Seleccione su Rol:</label>
                <select name="roles" id="roles" class="form-control">

                    <option value="{{rolactual.id}}">{{rolactual.nombre}}</option>
                    {% for rol in roles %}
                        <option value="{{rol.id}}">{{rol.nombre}}</option>
                    {% endfor %}
                </select>
            </div>

        {% endif %}


        <button type="submit" class="btn btn-success">Editar</button>
    </form>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        };
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Ingrese password iguales");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
{% endblock %}
