{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_admin_new')}}">Crear  Usuario</a>{% endblock %}
{% block hijo %}Listar Usuarios{% endblock %}

{% block contenedor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.email }}</td>
                    <td>
                        {% if entity.roles %}
                            {% set roles = entity.roles %}

                        {% endif %}
                    </td>
                    <td>{{ entity.isActive }}</td>
                    <td>
                        <ul style="list-style: none;">
                            <li>
                            
                             <button type="button" class="btn btn-default"><a href="{{ path('admin_admin_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_admin_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                               
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.session.flashbag.get('usuario') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
