{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_admin')}}">Lista de usuarios</a>{% endblock %}
{% block hijo %}Crear Usuario{% endblock %}
{% block contenedor %}

    <form action="{{path('admin_admin_create')}}" method="POST">
        <div class="form-group">
            <label for="username">Ingrese nombre de usuario:</label>
            <input type="text" class="form-control" name="username"  id="username" placeholder="nombre de usuario" required>
        </div>
        <div class="form-group">
            <label for="password1">Contraseña</label>
            <input type="password" class="form-control" pattern=".{5,10}" required title="5 to 10 caracteres"  name="password1" id="password1" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <label for="password2">Repita su contraseña</label>
            <input type="password" class="form-control" pattern=".{5,10}" required title="5 to 10 caracteres" id="password2" placeholder="Contraseña" data-equal-id="password1"  required >
        </div>
        <div class="form-group">
            <label for="correo">Ingrese su correo Electrónico:</label>
            <input pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" class="form-control" name="correo"  id="correo" placeholder="ejemplo@ejemplo.com"required>
        </div>
        <div class="form-group">
            <label for="estado">Activar usuario:</label>
            <select name="estado" id="estado" class="form-control">
                <option value="">--- Seleccione un estado ---</option>
                <option value="0">Desactivado</option>
                <option value="1">Activado</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3> Administrador:</h3>
                <p>Tiene acceso a la totalidad del sistema.</p>
            </div>
            <div class="col-sm-6">
                <h3> Supervisor:</h3>
                <p>Puede solo crear contenido del sistema.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="correo">Seleccione su Rol:</label>
            <select name="roles" id="roles" class="form-control" required>
                <option value="">--- Seleccione un rol ---</option>
                {% for rol in roles %}
                    <option value="{{rol.id}}">{{rol.nombrerol}}</option>
                {% endfor %}

            </select>
        </div>

        <button type="submit" class="btn btn-success">Crear</button>
    </form>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        };
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Ingrese password iguales");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
{% endblock %}
