{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_slider_new')}}">Crear Slider </a>{% endblock %}
{% block hijo %}Listar Slider {% endblock %}


{% block contenedor %}


    <table class="table table-striped table-hover dataTable" id="table-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Bajada de texto</th>
                <th>Sección</th>
                <th>Ver mas</th>
                <th>Foto</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="">{{ entity.id }}</a></td>
                    <td>{{ entity.titulo }}</td>
                    <td>{{ entity.bajadatexto }}</td>
                    <td>{{ entity.tiposeccion.titulo }}</td>
                    <td>{{ entity.vermas }}</td>
                    <td>




                        <img src="{{web_image("slider/"~entity.id~"/"~entity.fotoslider ).resize('20%')}}" class="ls-bg" alt="Slide background"/>






                    </td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td>


                            <ul style="list-style: none;">
                                <li>
                                  

                                   <button type="button" class="btn btn-default"><a href="{{ path('admin_slider_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_slider_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>

                            <ul style="list-style: none;">
                                <li>

                             <button type="button" class="btn btn-default"><a href="{{ path('admin_slider_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_slider_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>
                                

                                </li>
                            </ul>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for flashMessage in app.session.flashbag.get('slider') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
