{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_empresas_new')}}"> Crear Contenido Clientes</a> {% endblock %}
{% block hijo %} Listar Contenido Clientes {% endblock %}

{% block contenedor %}

    <table class="table table-striped table-hover dataTable" id="table-1">


        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Aparace en</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden >Acciones</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td> <img src="{{web_image("empresas/"~entity.id~"/"~entity.imagen ).resize('25%')}}" class="ls-bg" alt="Slide background"/>
                    </td>


                    <td>{% if entity.tipoempresa %}{{ entity.tipoempresa.titulo }} {% endif %}</td>


                    {% if rol == 'ROLE_ADMIN' %}
                        <td >


                            <ul style="list-style: none;">
                                <li>
                                  

                                   <button type="button" class="btn btn-default"><a href="{{ path('admin_empresas_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_empresas_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                                 


                                   <button type="button" class="btn btn-default"><a href="{{ path('admin_empresas_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_empresas_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                              
                                </li>
                            </ul>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.session.flashbag.get('empresa') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
