{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_roles')}}">Roles Listar</a> {% endblock %}
{% block padre %}<a href="{{path('admin_roles_new')}}">Roles Crear</a> {% endblock %}
{% block nombreSeccion %} <h1>Roles <small> Listar</small></h1> {% endblock %}

    {% block contenedor %}

   
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_roles_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_roles_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('admin_roles_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
