{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_roles')}}">Roles Listar</a> {% endblock %}
{% block padre %}<a href="{{path('admin_roles_new')}}">Roles Crear</a> {% endblock %}
{% block nombreSeccion %} <h1>Roles <small> Crear</small></h1> {% endblock %}

{% block contenedor %}

    {{ form(form) }}

{% endblock %}
