<section class="white-wrapper">
      <div class="container">
          <div class="general-title padding-top">
              <h2>Nuestros Asociados</h2>
                <hr>
                <p class="lead">Proporcionamos la mejor solución para su negocio</p>
            </div><!-- end general title -->
            
            <div class="services-one padding-top text-center">
              {% if TipoAsociados %}
                  {% for TipoAsociado in TipoAsociados %}
                    {% set asociados = TipoAsociado.asociados %}
                      {% for asociado in  asociados %}
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position:relative;float:left;">
                  <div class="servicebox">
                      <a href="#">
                        <div>
                          <img src="{{web_image("asociados/"~asociado.id~"/"~asociado.foto)}}" alt="">
                        </div><!-- end service icon -->
                        </a>
                      <div class="title">
                          <h3>{{asociado.titulo}}</h3>
                        </div><!-- end title -->
                        <p>{{asociado.texto|raw}}</p>
                       
                  </div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->
           {% endfor %}
                  {% endfor %}
              {% endif %}

              
             
       
            </div><!-- end services one -->
           
    </div><!-- end container -->
    </section><!-- end grey-wrapper -->