<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <title>
        {% block title %}

        {% endblock  %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if meta %}{{meta}}{% endif %}">
    <meta name="keywords" content="">
    <meta name="author" content="">



    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//www.mediadiv.cl/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//www.mediadiv.cl/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code —>
    
    <!-- Google Analytics -->
    
    {% if analytics %}
        <script>
            {{ analytics | raw }}
        </script>
        {% else %}

    {% endif %}

    <!-- End Google Analytics -->

    <!-- Bootstrap Styles -->
    <link href="{{ asset('bundles/mediadivhome/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ asset('bundles/mediadivhome/style.css')}}" rel="stylesheet">

    <!-- Carousel Slider -->
    <link href="{{ asset('bundles/mediadivhome/css/owl-carousel.css')}}" rel="stylesheet">

    <!-- CSS Animations -->
    <link href="{{ asset('bundles/mediadivhome/css/animate.min.css')}}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

    <!-- SLIDER ROYAL CSS SETTINGS -->
    <link href="{{ asset('bundles/mediadivhome/royalslider/royalslider.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/mediadivhome/royalslider/skins/default-inverted/rs-default-inverted.css')}}" rel="stylesheet">

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mediadivhome/rs-plugin/css/settings.css')}}" media="screen" />

    <!-- Support for HTML5 -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Enable media queries on older bgeneral_rowsers -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>  <![endif]-->

</head>
<body>

    <!--<div class="animationload">
    <div class="loader">Loading...</div>
</div>-->


    <!------------ header ------------------------->



    {% include 'MediadivhomeBundle:Layout:header.html.twig'%}


    <!------------ fin de header ---------------------------->




    {% block slider %}


    {% endblock %}    

    {% block contenido %} 




    {% endblock %}

    {% include 'MediadivhomeBundle:Layout:footer.html.twig'%}



    <!-- Main Scripts-->
    <script src="{{ asset('bundles/mediadivhome/js/jquery.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/menu.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/jquery.parallax-1.1.3.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/jquery.simple-text-rotator.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/wow.min.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/custom.js')}}"></script>

    <script src="{{ asset('bundles/mediadivhome/js/jquery.isotope.min.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/js/custom-portfolio.js')}}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->

    <script type="text/javascript" src="{{ asset('bundles/mediadivhome/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mediadivhome/rs-plugin/js/jquery.themepunch.revolution.js')}}"></script>


 <script type="text/javascript">
    var revapi;
    jQuery(document).ready(function() {
        revapi = jQuery('.tp-banner').revolution(
        {
            delay:9000,
            startwidth:1170,
            startheight:500,
            hideThumbs:10,
            fullWidth:"on",
            forceFullWidth:"on"
        });
    }); //ready
  </script>





    <script src="{{ asset('bundles/mediadivhome/royalslider/jquery.easing-1.3.js')}}"></script>
    <script src="{{ asset('bundles/mediadivhome/royalslider/jquery.royalslider.min.js')}}"></script>
   

  <script>
    jQuery(document).ready(function($) {
      var rsi = $('#slider-in-laptop').royalSlider({
        autoHeight: false,
        arrowsNav: false,
        fadeinLoadedSlide: false,
        controlNavigationSpacing: 0,
        controlNavigation: 'bullets',
        imageScaleMode: 'fill',
        imageAlignCenter: true,
        loop: false,
        loopRewind: false,
        numImagesToPreload: 6,
        keyboardNavEnabled: true,
        autoScaleSlider: true,  
        autoScaleSliderWidth: 486,     
        autoScaleSliderHeight: 315,
    
        /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
        imgWidth: 792,
        imgHeight: 479
    
      }).data('royalSlider');
      $('#slider-next').click(function() {
        rsi.next();
      });
      $('#slider-prev').click(function() {
        rsi.prev();
      });
    });
  </script>
    
    

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>  





<script type="text/javascript">
    (function ($) {
        "use strict";
        var locations = [
        ['<div class="infobox"><h3 class="title"><a href="erdrfdfrd">Request 23321</a></h3><span>Antonia Lopez de Bello 80 <br> Barrio Bellavista</span><br>+562 2222 2222</p></div></div></div>', {{contacto.latitude}}, {{contacto.lagitude}}, 17]
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            scrollwheel: false,
            navigationControl: true,
            mapTypeControl: false,
            scaleControl: false,
            draggable: true,
            styles: [{"stylers": [{"hue": "#000"}, {saturation: -100},
            {gamma: 0.50}]}],
            center: new google.maps.LatLng({{contacto.latitude}}, {{contacto.lagitude}}, 17),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                icon: "{{asset('bundles/mediadivhome/images/marker.png')}}"
            });


            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    })(jQuery);
</script>

</body>
</html>