<section class="grey-wrapper jt-shadow">
   <div class="container">
       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">

        {% for TipoAccordion  in TipoAccordion %}
           <div class="widget">
               <h3>{{TipoAccordion.titulo}}</h3>
               <p>{{TipoAccordion.descripcion}}</p>
               <div id="accordion-second" class="clearfix">
                <div class="accordion" id="accordion2">

                    {% if TipoAccordion.carruselhome %}
                        {% set carrusel = TipoAccordion.carruselHome %}
                            {% for carrusel in carrusel %}
                              <div class="accordion-group">
                                <div class="accordion-heading">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour-{{carrusel.id}}">
                                    <em class="fa fa-plus icon-fixed-width"></em>{{carrusel.titulo}}
                                </a>
                            </div>
                            <div id="collapseFour-{{carrusel.id}}" class="accordion-body collapse">
                              <div class="accordion-inner">

                                {{ carrusel.contenido | raw }}

                            </div>
                        </div>
                    </div> 
                {% endfor %}
            {% endif %} 

        {% endfor %} 



    </div><!-- end accordion -->
</div><!-- end accordion first -->
</div><!-- end widget -->
</div><!-- end col-lg-6 -->
{%  if TipoAccordion != ""  %}
<div class="row" style="margin-left:20%;">
{% endif %}
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-bottom:200px">
   <div class="widget">
       <h3>NUESTRAS <span>POTENCIALIDADES</span></h3>
       <div id="skills" class="skills_bar">
        {% for TipoEstadistica in TipoEstadisticas %}
            {% set estadisticas = TipoEstadistica.estadisticas %}
                {% for estadistica in estadisticas %}
                    <small>{{estadistica.nombre }}</small>
                    <div class="progress wow slideInLeft">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{estadistica.cantidad}}" aria-valuemin="0" aria-valuemax="100" style="width: {{estadistica.cantidad}}%;">
                            <span class="skill_count">{{estadistica.cantidad}}%</span>
                        </div>
                    </div><!-- end progress -->
                {% endfor %}
            {% endfor %}
        </div><!-- end progress -->
    </div><!-- end skills_bar -->
</div><!-- end widget -->
</div><!-- end col-lg-6 -->
</div><!-- end container -->
{%  if TipoAccordion != ""  %}
</div>
{% endif %}
</section><!-- end grey-wrapper -->
