{% if TipoEmpresas |  length >=  1 %}


    {% for TipoEmpresa in TipoEmpresas %}
    {% set Empresas = TipoEmpresa.empresas %} 
    
   <section id="one-parallax" class="parallax" style="background-image: url('{{ asset('bundles/mediadivhome/demos/parallax_03.jpg')}}');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">



            <div class="container">
                <div class="general-title">
                    <h2>Todas estas Marcas</h2>
                    <hr>
                    <p class="lead">confian en nosotros!</p>
                </div><!-- end general title -->

                <div class="clients padding-top text-center">
                   {% if Empresas %}


                    {% for Empresa in Empresas %}

                        <div class="client-wrap col-lg-3 " style="diplay:block;position:relative;float:left;">
                            <a href="#" title=""><img src="{{web_image("empresas/"~Empresa.id~"/"~Empresa.imagen)}}" alt="{{ Empresa.nombre}} "></a>
                        </div>

                    {% endfor %}
                    {% endif %}

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- end transparent-bg -->
    {% endfor %}
{% endif %}


{% if TipoClientes |  length >=  1 %}

    
        
    {% for TipoCliente in TipoClientes %}
        
    <section class="white-wrapper">
        <div class="container">
            <div class="testimonial-widget">
                <div id="owl-testimonial" class="owl-carousel">
               
                    {% set clientes  = TipoCliente.clientes %}
                    
                    {% for cliente in clientes %}
                                                 <div class="testimonial-carousel text-center">
                            <div class="media">
                                <img src="{{web_image("clientes/"~cliente.id~"/"~cliente.foto ).resize('')}}" alt="" class="img-circle img-responsive">

                            </div><!-- end entry -->
                            <div class="testimonial-names">
                                <h3>{{cliente.nombre}}</h3>
                                <a href="#" class="readmore">{{cliente.profesion}}</a>
                            </div><!-- end testimonial-names -->
                            <p class="lead">
                                {{cliente.texto|raw}}
                            </p>
                        </div>
                    {% endfor %}
                </div><!-- end owl-testimonial -->
            </div><!-- end testimonial widget --> 
        </div><!-- end container -->
    </section><!-- end transparent-bg -->
    {% endfor %}
{% endif %}

