 

<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <p>Copyright © 2014 - Request.cl</p>
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">


                        <li><a href="{{path('mediadivhome_homepage')}}">Home</a></li>


                            {% for tipoSeccion in tipoSeccion %}

                            {% if  tipoSeccion.titulo != 'HOME' %}
                        <li><a href="{{path('tipoSeccion' , { 'id' : tipoSeccion.id , 'titulo' : tipoSeccion.titulo })}}">{{tipoSeccion.titulo|capitalize}}</a></li>
              
                    {% endif %}
                    {% endfor %}
                        <li><a href="{{path('contacto')}}">Contacto</a></li>


                    </ul>
                </div>
			</div><!-- end large-7 --> 
        </div><!-- end container -->
    </div><!-- end copyrights -->
    
	<div class="dmtop">Scroll to Top</div>
