
<style type="text/css">
    
   .active{  color: #eba224;
    background-color: #eba224;
  }
</style>
<div id="topbar" class="clearfix">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="social-icons">

                {% for redesSocial  in redesSociales %}


                    <span><a data-toggle="tooltip" data-placement="bottom" title="{{redesSocial.title}}" href="{{redesSocial.link}}" target="{{redesSocial.target}}" ><i class="fa {{redesSocial.icono}}" target="_blank"></i></a></span>

                {% endfor %}

            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            {% if contacto %}
            <div class="callus">
                <span class="topbar-email"><i class="fa fa-envelope"></i> <a href="#">{{contacto.emailEnvio}}</a></span>
                <span class="topbar-phone"><i class="fa fa-phone"></i> {{contacto.telefono}}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<header id="header-style-1">
    <div class="container">
        <nav class="navbar yamm navbar-default">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{path('mediadivhome_homepage')}}" class="navbar-brand"></a>
            </div><!-- end navbar-header -->

            <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                 
                    <li><a {% if seccionMenu == "home" %} class="active" {% endif %}href="{{path('mediadivhome_homepage')}}">HOME</a></li>


                    {% for tipoSeccion in tipoSeccion %}

                        {% if  tipoSeccion.titulo != 'HOME' %}

                            {% set seccion = tipoSeccion.seccion %}

                            {% if tipoSeccion.seccion |length > 1 %}



                                <li class="dropdown"><a {% if seccionMenu == tipoSeccion.titulo %}  class="active" {% endif %}href="{{path('tipoSeccion' , { 'id' : tipoSeccion.id , 'titulo' : tipoSeccion.titulo })}}" data-toggle="dropdown" class="dropdown-toggle">{{tipoSeccion.titulo}} <div class="arrow-up"></div></a>



                                    <ul class="dropdown-menu" role="menu">
                                        {% for seccion in seccion %}
                                            <li><a href="{{path('tipoSeccion' , { 'id' : tipoSeccion.id , 'titulo' : tipoSeccion.titulo })}}">{{seccion.titulo}}</a></li>

                                        {% endfor %}
                                    </ul>


                                </li>


                            {% else %}   
                                <li><a   {% if seccionMenu == tipoSeccion.titulo %}  class="active" {% endif %} href="{{path('tipoSeccion' , { 'id' : tipoSeccion.id , 'titulo' : tipoSeccion.titulo })}}">{{tipoSeccion.titulo}} </a></li>
                                {% endif %}



                        {% endif %}
                    {% endfor %} 






                    <li><a  {% if seccionMenu == "contacto" %} class="active" {% endif %} href="{{path('contacto')}}">CONTACTO</a></li>
                </ul><!-- end navbar-nav -->
            </div><!-- #navbar-collapse-1 -->			</nav><!-- end navbar yamm navbar-default -->
    </div><!-- end container -->
</header><!-- end header-style-1 -->