 <section class="slider-wrapper">
    
        <div class="tp-banner-container">
            <div class="tp-banner" >
            <ul>

                {% for sliderSeccion in sliderSeccion %}

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >

                        <img src="{{web_image("slider/"~sliderSeccion.id~"/"~sliderSeccion.fotoslider )}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="tp-caption high_title customin customout start"
                             data-x="left" data-hoffset="100"
                             data-y="100"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                        </div>
                        <div class="tp-caption mini_title customin customout start"
                             data-x="left" data-hoffset="130"
                             data-y="130"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="900"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <h2 style="color:#fff; font-size:3em">{{sliderSeccion.titulo}}</h2>
                            <p>{{sliderSeccion.bajadatexto}}</p>
                        </div>

                        <div class="tp-caption small_title  customin customout start"
                             data-x="left" data-hoffset="100"
                             data-y="330"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1600"
                             data-start="1100"
                             data-easing="Back.easeInOut"
                             data-endspeed="300"><a href="{{sliderSeccion.vermas}}" class="btn btn-primary btn-lg" target="{{sliderSeccion.target}}">Ver más</a>
                        </div>
                    </li>

                {% endfor %}

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section><!-- end slider-wrapper -->
