{% extends "MediadivhomeBundle:Layout:base.html.twig" %}
{% block title %}
    {% if titulo %}
    {{titulo}} | {{nombreseccion}}
    {% else %}
        <title>Default</title>
    {% endif %}
{% endblock %}

{% block slider %}

{% endblock %}  


{% block contenido %}

		
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">

				<h2>Contacto</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('mediadivhome_homepage')}}">Home</a></li>
                    <li>Contacto</li>
                </ul>
			</div>
		</div>
	</section>


<section class="white-wrapper">
        <div class="container">
            <div class="general-title">
                <h2>Contactanos</h2>
                <hr>
                <p class="lead">Tenemos lo que estas buscando!</p>
            </div><!-- end general title -->    
            <div class="contact_form">
                <div id="message"></div>
            <form id="contactform" action="{{path('mediadivhome_enviaCorreo')}}" name="contactform" method="post">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required> 
          <input type="email" name="email" id="email" class="form-control" placeholder="Correo electronico" required>
          <input type="text" name="city" id="city" class="form-control" placeholder="Ciudad" required > 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="subject" id="subject" class="form-control" placeholder="Asunto" required >  
          <textarea class="form-control" name="message" id="message" rows="6" placeholder="Escribe tu mensaje aquí..." required ></textarea>
          <button type="submit" value="SEND" id="submit" class="btn btn-lg btn-primary pull-right">Enviar</button>
        </div>
            </form>    
            </div><!-- end contact-form -->

             {% for flashMessage in app.session.flashbag.get('contacto') %}
                                        <div class="flash-notice">
                                            <label for="contact-spam-check">{{ flashMessage }}</label>
                                        </div>
                                    {% endfor %}


        </div><!-- end container -->
  </section><!-- end map wrapper -->

        <div class="clearfix"></div>
      <div id="map"></div>
        <div class="clearfix"></div>

  <section id="one-parallax" class="parallax" style="background-image: url('{{ asset('bundles/mediadivhome/demos/parallax_06.jpg')}}');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="overlay">
            <div class="container">
                <div class="row padding-top margin-top">
                    <div class="contact_details">
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p><strong>Dirección</strong><br>
                                    {{contacto.direccion | raw}}
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->
                        
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p><strong>Teléfonos</strong><br>
                                    {{contacto.telefono}}<br>
                                    {{contacto.telefono2}}</p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->  
        
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p><strong>Correo electronico</strong><br> {{contacto.email}}<br>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->                  
                    </div><!-- end contact_details -->
                </div><!-- end margin-top --><br><br>
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- end map wrapper -->

{% block js %}

  

{% endblock %}    
{% endblock %}