{% extends "MediadivhomeBundle:Layout:base.html.twig" %}
{% block title %}
    {% if true %}
        {{titulo}} | {{nombreseccion}}
        {% else %}
        <title>Default</title>
    {% endif %}
{% endblock %}


{% block contenido %}
    <!-- Slider Top -->
    {% if sliderTop %}
        {% set sliderSeccion = sliderTop %}
            {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}

    <!-- Slider Top -->


    <section class="white-wrapper">
        <div class="container">
            <div class="general-title padding-top">
                <h2>Nuestros Servicios</h2>
                <hr>
                <p class="lead">Proporcionamos la mejor solución para su negocio</p>
            </div><!-- end general title -->


            <!-- servicios -->

            <div class="services-one padding-top text-center">
                {% set cont = 0 %}
                    {% for servicio in servicios %}
                        {% set cont = cont + 1 %}


                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 {% if cont % 3 == 0 %}
                            last {% endif %} {% if cont % 2 == 0 %}  {% endif %}
                            ">
                            <div class="servicebox">
                                <a href="#">
                                    <div class="service-icon-circle border-none make-bg">
                                        <div class="sombra-iconos">
                                            <P>{{servicio.siglas}}</P>
                                        </div>
                                    </div><!-- end service icon -->
                                </a>
                                <div class="title">
                                    <h3>{{servicio.titulo}}</h3>
                                </div><!-- end title -->
                                {{servicio.contenido|raw  }}
                                <a class="readmore" href="#">Read more...</a>
                            </div><!-- end servicebox -->
                        </div><!-- end col-lg-4 -->


                    {% endfor %}

                </div>






                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 last">

                </div><!-- end col-lg-4 -->
            </div><!-- end services one -->
        </div><!-- end container -->
    </section><!-- end grey-wrapper -->

    <section id="one-parallax" class="parallax" style="background-image: url('{{asset('bundles/mediadivhome/demos/parallax_04.jpg')}}');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
            <div class="container">
                <div class="stat f-container">
                    {% if TipoEstadisticasTop or TipoEstadisticasBottom %}
                        {% if TipoEstadisticasTop != "" %}
                             {% set  tipoestadisticas = TipoEstadisticasTop %}
                           {% else %}
                           {% set  tipoestadisticas = TipoEstadisticasBottom %}
                           {% endif %} 
                       
                        
                        {% for tipoestadistica in tipoestadisticas %}
                                {% set estadisticas = tipoestadistica.estadisticas %}
                                    {% for estadistica in estadisticas %}

                                <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="milestone-counter">
                                        <i class="fa {{estadistica.icon}}" style="font-size:50px;"></i>
                                        <span class="stat-count highlight">{{estadistica.cantidad}}</span>
                                        <div class="milestone-details">{{estadistica.nombre}}</div>
                                    </div>
                                </div>



                            {% endfor %}
                        {% endfor %}
                        {% endif %}

                    </div><!-- stat -->
                </div><!-- end container -->
            </div><!-- end overlay -->
        </section><!-- end transparent-bg -->

        <section class="white-wrapper">
            <div class="container">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="widget">

                        {% if tipoAccordion %}
                            

                          
                            {% for tipoAccordion in tipoAccordion %}


                                <h3>{{tipoAccordion.titulo}}</h3>
                                <p>{{tipoAccordion.descripcion}}</p>
                                <div id="accordion-second" class="clearfix">
                                    <div class="accordion" id="accordion2">

                                        {% set accordiones = tipoAccordion.carruselhome %}

                                            {% for accordion in accordiones  %}

                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour-{{accordion.id}}">
                                                            <em class="fa fa-plus icon-fixed-width"></em>{{accordion.titulo}}

                                                        </a>
                                                    </div>
                                                    <div id="collapseFour-{{accordion.id}}" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            {{accordion.contenido| raw }}

                                                        </div>
                                                    </div>
                                                </div> 
                                            {% endfor %}
                                        {% endfor %} 

                                    </div><!-- end accordion -->
                                </div><!-- end accordion first -->
                            </div><!-- end widget -->
                        </div><!-- end col-lg-6 -->
                    {% endif %}

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="widget">
                            <h3>ÚLTIMAS NOTICIAS</h3>
                            <div id="owl-blog" class="owl-carousel">


                                {% for noticia in noticias %}
                                    <div class="blog-carousel">
                                        <div class="entry">
                                            <img src="{{web_image("noticias/"~noticia.id~"/"~noticia.imagen)}}" alt="" class="img-responsive">
                                            <div class="magnifier">
                                                <div class="buttons">
                                                    <a class="st" rel="bookmark" href="@"><i class="fa fa-link"></i></a>
                                                </div><!-- end buttons -->
                                            </div><!-- end magnifier -->
                                            <div class="post-type">
                                                <i class="fa fa-picture-o"></i>
                                            </div><!-- end pull-right -->
                                        </div><!-- end entry -->
                                        <div class="blog-carousel-header">
                                            <h3><a title="" href="#">{{noticia.titulo}}</a></h3>
                                            <div class="blog-carousel-meta">

                                                <span><i class="fa fa-calendar"></i>Fecha Publicacion : {{ noticia.fecha|date("m/d/Y", "Europe/Paris") }}</span>

                                            </div><!-- end blog-carousel-meta -->
                                        </div><!-- end blog-carousel-header -->
                                        <div class="blog-carousel-desc">
                                            <p>{{ noticia.contenido|raw}} </p>
                                        </div><!-- end blog-carousel-desc -->
                                    </div><!-- end blog-carousel -->

                                {% endfor %}

                            </div><!-- end owl-blog -->

                        </div><!-- end widget -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end container -->
            </section><!-- end grey-wrapper -->



 {% if sliderBottom %}
        {% set sliderSeccion = sliderBottom %}
        {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}


    

        {% endblock %}



