{% extends "MediadivhomeBundle:Layout:base.html.twig" %}
{% block title %}
    {% if titulo %}
        {{titulo}} | {{nombreseccion}}
    {% else %}
        <title>Default</title>
    {% endif %}
{% endblock %}


{% block contenido %}




    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                
                <h2>{{seccionActual.titulo}}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('mediadivhome_homepage')}}">Home</a></li>
                    <li>{{seccionActual.titulo}}</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    <!-- Slider Top -->
    {% if sliderTop %}
        {% set sliderSeccion = sliderTop %}
        {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}

    <!-- Slider Top -->

    <!-- Carrusel Estadistica Top -->
    {% if TipoAccordionTop %}
        {% set TipoAccordion = TipoAccordionTop %}
        {% set TipoEstadisticas = TipoEstadisticasTop %}
        {% if TipoAccordion  | length >= 1  or TipoEstadisticas | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:carruselEstadisticas.html.twig'%}
        {% endif %}
    {% endif %}
    <!-- Carrusel Estadistica Top -->


    <!-- estadisticas carrusel -->
  {#  {% set carrusel = seccionActual.carruselhome %}
    {% set estadisticas = seccionActual.estadisticas %}  #}





    {% if TipoAsociadosTop %}

        {% set TipoAsociados =  TipoAsociadosTop %}

        {% if TipoAsociados  | length >= 1 %}

            {% include 'MediadivhomeBundle:Layout:asociados.html.twig'%}


        {% endif %}

    {% endif %}






    {% if TipoClienteTop or TipoEmpresasTop %}


        {% set TipoEmpresas = TipoEmpresasTop %}  



        {% set TipoClientes  = TipoClienteTop  %}  


        {% if TipoEmpresas |  length >=  1  or  TipoClientes |  length >=  1 %}
            

            {% include 'MediadivhomeBundle:Layout:clientesTestimonios.html.twig'%}


        {% endif %}
    {% endif %}






    <section class="white-wrapper">
        <div class="container">
      

                {% set seccion = seccionActual.seccion %}
                {% for seccion in seccion  %}
      <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="widget margin-top">
                            <div id="aboutslider" class="flexslider clearfix">
                                <ul class="slides">
                                    <li><img src="{{web_image("seccion/"~seccion.id~"/"~seccion.imagen )}}" class="img-responsive" alt=""></li>

                                </ul><!-- end slides -->
                                <div class="aboutslider-shadow">
                                    <span class="s1"></span>
                                </div>
                            </div><!-- end slider -->
                        </div><!-- end widget -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="widget">


                            <h3 class="title-conbordes">{{seccion.titulo}} </h3>
                            {{seccion.contenido | raw }}


                            <div class="clearfix"></div>

     </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row --><br>
            
                        {% endfor %}

                      

               
        </div><!-- end container -->
    </section><!-- end postwrapper -->




    <!-- Slider Bottom -->
    {% if sliderBottom %}
        {% set sliderSeccion = sliderBottom %}
        {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}

    <!-- Slider Bottom -->
    <!-- Carrusel Estadistica Bottom -->
    {% if TipoAccordionBottom %}
        {% set TipoAccordion = TipoAccordionBottom %}
        {% set TipoEstadisticas = TipoEstadisticasBottom %}
        {% if TipoAccordion  | length >= 1  or TipoEstadisticas | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:carruselEstadisticas.html.twig'%}
        {% endif %}
    {% endif %}
    <!-- Carrusel Estadistica Bottom -->


    {% if TipoAsociadosBottom %}

        {% set TipoAsociados =  TipoAsociadosBottom %}

        {% if TipoAsociados  | length >= 1 %}

            {% include 'MediadivhomeBundle:Layout:asociados.html.twig'%}


        {% endif %}

    {% endif %}





   {% if TipoClienteBottom or TipoEmpresasBottom %}

        {% set TipoEmpresas = TipoEmpresasBottom %}  

        {% set TipoClientes  = TipoClienteBottom  %}  


        {% if TipoEmpresas |  length >=  1  or  TipoClientes |  length >=  1 %}

            {% include 'MediadivhomeBundle:Layout:clientesTestimonios.html.twig'%}


        {% endif %}
    {% endif %}






{% endblock %}