{% extends "MediadivhomeBundle:Layout:base.html.twig" %}
{% block title %}
    {% if titulo %}
        {{titulo}} | {{nombreseccion}}
    {% else %}
        <title>Default</title>
    {% endif %}
{% endblock %}

{% block contenido %}

        <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                
                <h2>{{seccionActual.titulo}}</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('mediadivhome_homepage')}}">Home</a></li>
                    <li>{{seccionActual.titulo}}</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    <!-- Slider Top -->
    {% if sliderTop %}
        {% set sliderSeccion = sliderTop %}
        {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}

    <!-- Slider Top -->
    <!-- Carrusel Estadistica Top -->
    {% if TipoAccordionTop or TipoEstadisticasTop %}
        {% set TipoAccordion = TipoAccordionTop %}
        {% set TipoEstadisticas = TipoEstadisticasTop %}
        {% if TipoAccordion  | length >= 1  or TipoEstadisticas | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:carruselEstadisticas.html.twig'%}
        {% endif %}
    {% endif %}
    <!-- Carrusel Estadistica Top -->



    {% if TipoClienteTop or TipoEmpresasTop %}

        {% set TipoEmpresas = TipoEmpresasTop %}  

        {% set TipoClientes  = TipoClienteTop  %}  


        {% if TipoEmpresas |  length >=  1  or  TipoClientes |  length >=  1 %}

            {% include 'MediadivhomeBundle:Layout:clientesTestimonios.html.twig'%}


        {% endif %}
    {% endif %}







    {% set seccion = seccionActual.seccion %}
    {% for seccion in seccion %}

        <section class="white-wrapper-servicios">
            <div class="container">
                <div class="row borde-abajo">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="widget margin-top">
                            <div id="aboutslider" class="flexslider clearfix">
                                <img src='{{web_image("seccion/"~seccion.id~"/"~seccion.imagen )}}' class="img-responsive" alt="">
                            </div><!-- end slider -->
                        </div><!-- end widget -->
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="widget">
                            <a href="#">
                                <div class="service-icon-circle border-none make-bg" style="float:left">
                                    <div class="sombra-iconos">
                                        <P>{{seccion.siglas}}</P>
                                    </div>
                                </div><!-- end service icon -->
                            </a> <br><br><br><br><br>
                            <h3>{{seccion.titulo}}</h3>

                            {{seccion.contenido|raw}}


                            <div class="clearfix"></div>

                        </div><!-- end widget -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end postwrapper -->

    {% endfor %}




    <!-- estadisticas carrusel -->
    {#
    {% set tipoaccordion = seccionActual.tipoaccordion %}
    {% set tipoestadisticas = seccionActual.tipoestadisticas %}  
    {% set tipoempresas = seccionActual.tipoempresa %}  
    {% set tipoclientes  = seccionActual.tipocliente %}  
    {% set tipoasociados =  seccionActual.tipoasociados %}
    #}


    {% if TipoEmpresasBottom or TipoClienteBottom %}
        {% set TipoEmpresas = TipoEmpresasBottom %}
        {% set TipoClientes = TipoClienteBottom %}

        {% if TipoEmpresas |  length >=  1  or  TipoClientes |  length >=  1 %}

        {% include 'MediadivhomeBundle:Layout:clientesTestimonios.html.twig'%}
        
        {% endif %}

    {% endif %}


    {#
    {% if TipoAccordionBottom %}
        {% set accordion = TipoAccordionBottom %}
            {% if accordion  | length >= 1   %}


                {% include 'MediadivhomeBundle:Layout:carruselEstadisticas.html.twig'%}


            {% endif %}
    {% endif %}

    #}
    <!-- estadisticas carrusel -->


    <!-- empresas testimonios -->


    <!-- fin de empresas testimonios -->
    {% if TipoAsociadosBottom %}
        {% set TipoAsociados = TipoAsociadosBottom %}
            {% if TipoAsociados  | length >= 1 %}
                {% include 'MediadivhomeBundle:Layout:asociados.html.twig'%}
            {% endif %}
    {% endif %}
    

    <!-- Slider Bottom -->
    {% if sliderBottom %}
        {% set sliderSeccion = sliderBottom %}
        {%  if sliderSeccion | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:slider.html.twig'%}
        {% endif %}
    {% endif %}

    <!-- Slider Bottom -->
    <!-- Carrusel Estadistica Bottom -->
    {% if TipoAccordionBottom or  TipoEstadisticasBottom %}
        {% set TipoAccordion = TipoAccordionBottom %}
        {% set TipoEstadisticas = TipoEstadisticasBottom %}
        {% if TipoAccordion  | length >= 1  or TipoEstadisticas | length >= 1 %}
            {% include 'MediadivhomeBundle:Layout:carruselEstadisticas.html.twig'%}
        {% endif %}
    {% endif %}
    <!-- Carrusel Estadistica Bottom -->
{% endblock %}