{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoestadisticas')}}"> Tipo Estadística</a> {% endblock %}
{% block hijo %}Edita tipo estadísticas {% endblock %}
{% block contenedor %}
   

    {{ form(edit_form) }}

{% endblock %}
