{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoestadisticas')}}">Tipo Estadística</a> {% endblock %}
{% block hijo %} Lista estadísticas {% endblock %}
{% block contenedor %}


    <table class="table table-striped table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_tipoestadisticas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul style="list-style:none;">
                    <li>

                        <button type="button" class="btn btn-default"><a href="{{ path('admin_tipoestadisticas_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                        <button type="button" class="btn btn-default"><a href="{{ path('admin_tipoestadisticas_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>



                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
