{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoestadisticas')}}">Tipo Estadística</a> {% endblock %}
{% block hijo %}Crea tipo estadísticas {% endblock %}
{% block contenedor %}

    	<form id="tipoEstadistica" action="{{path('admin_tipoestadisticas_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>

		<a id="listarEstadistica" href="{{path('admin_tipoestadisticas')}}" class="btn btn-default">Listar Estadisticas</a>


		<script type="text/javascript">
			$(function(){

				$("#listarEstadistica").hide('fast');

				$(".symfony-button-ajax").click(function(){
					var titulo = $("#mediadiv_adminbundle_tipoestadisticas_titulo").val();
					var descripcion = $(".nicEdit-main").text();
					var posicion = $("#mediadiv_adminbundle_tipoestadisticas_posicion").val();
					var seccion = $("#mediadiv_adminbundle_tipoestadisticas_tiposeccion").val();

					var myData = "mediadiv_adminbundle_tipoestadisticas_titulo=" + titulo +
								 "&mediadiv_adminbundle_tipoestadisticas_descripcion=" + descripcion +
								 "&mediadiv_adminbundle_tipoestadisticas_posicion=" + posicion +
								 "&mediadiv_adminbundle_tipoestadisticas_tiposeccion=" + seccion;

					$.ajax({
						url: $("#tipoEstadistica").attr('action'),
						type: 'POST',
						data: myData,
						success: function(data){
							$(".symfony-button-ajax").hide('fast');
							$("#listarEstadistica").show('fast');
							alertify.success("Tu seccion a sido creada satisfactoriamente");
						}
					});
				});
			})
		</script>
{% endblock %}
