{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipocliente')}}"> Tipo Testimonio </a> {% endblock %}
{% block hijo %} Editar Tipo Testimonio {% endblock %}
 {% block contenedor %}
     
    {{ form(edit_form) }}


<script type="text/javascript">
	$(document).ready(function(){
			$("select > option[value*='{{idSeccionHome}}']").remove();


	});


</script>


{% endblock %}

