{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipocliente')}}"> Tipo Testimonio </a> {% endblock %}
{% block hijo %} Tipo Testimonio {% endblock %}
{% block contenedor %}


    <table class="table table-striped table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Sección</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="#">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion|raw }}</td>
                <td>{{ entity.tiposeccion.titulo }}</td>
                <td>
                <ul style="list-style:none;">
                    <li>
                           <button type="button" class="btn btn-default"><a href="{{ path('admin_tipocliente_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                            <button type="button" class="btn btn-default"><a href="{{ path('admin_tipocliente_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
