{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipocliente')}}"> Tipo Testimonio </a> {% endblock %}
{% block hijo %} Crear Testimonio{% endblock %}
{% block contenedor %}

    <form id="tipoTestimonio" action="{{path('admin_tipocliente_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>
		<a  id="listarTestimonios" href="{{path('admin_tipocliente')}}" title="" class="btn btn-default">Listar Testimonios</a>
		<script type="text/javascript">
			$(function(){


					$("select > option[value*='{{idSeccionHome}}']").remove();
		
				$("#listarTestimonios").hide('fast');
				$(".symfony-button-ajax").click(function(){
					var titulo = $("#mediadiv_adminbundle_tipocliente_titulo").val();
					var descripcion = $(".nicEdit-main").text();
					var posicion = $("#mediadiv_adminbundle_tipocliente_posicion").val()
					var seccion = $("#mediadiv_adminbundle_tipocliente_tiposeccion").val()

					var myData = "mediadiv_adminbundle_tipocliente_titulo=" + titulo +
								 "&mediadiv_adminbundle_tipocliente_descripcion=" + descripcion +
								 "&mediadiv_adminbundle_tipocliente_posicion=" + posicion +
								 "&mediadiv_adminbundle_tipocliente_tiposeccion=" + seccion;


					$.ajax({
								 	url: $("#tipoTestimonio").attr('action'),
								 	type: 'POST',
								 	data: myData,
								 	success: function(data){
								 		$(".symfony-button-ajax").hide('fast');
								 		$("#listarTestimonios").show('fast');

								 		alertify.success("Tu seccion ah sido creada satisfactoriamente");
								 	}
								 	
					});
								 			 

				});
			})
		</script>
{% endblock %}
