{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoasociados')}}"> TipoAsociados</a> {% endblock %}
{% block hijo %} Editar Tipo Asociados{% endblock %}
{% block contenedor %}
    {{ form(edit_form) }}
{% endblock %}
