{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoasociados')}}"> TipoAsociados</a> {% endblock %}
    {% block hijo %} Tipo Asociados{% endblock %}
        {% block contenedor %}
            <table class="table table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_tipoasociados_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.descripcion }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_tipoasociados_delete', { 'id': entity.id }) }}">Eliminar</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_tipoasociados_edit', { 'id': entity.id }) }}">Editar</a>
                                        </li>
                                    </ul>
                                </td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        {% endblock %}
