{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_asociados')}}"> TipoAsociados</a> {% endblock %}
{% block hijo %} Crear Tipo Asociados{% endblock %}
{% block contenedor %}
 

    	<form id="tipoAsociado" action="{{path('admin_tipoasociados_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>

		<a id="listarAsociados" href="{{path('admin_tipoasociados')}}" class="btn btn-default" >Listar Asociados</a>

		<script type="text/javascript">
			$(function(){

				$("#listarAsociados").hide('fast');

				$(".symfony-button-ajax").click(function(){
					var titulo = $("#mediadiv_adminbundle_tipoasociados_titulo").val();
					var descripcion = $(".nicEdit-main").text();
					var posicion = $("#mediadiv_adminbundle_tipoasociados_posicion").val();
					var seccion = $("#mediadiv_adminbundle_tipoasociados_tiposeccion").val();

					var myData = "mediadiv_adminbundle_tipoasociados_titulo=" + titulo +
								 "&mediadiv_adminbundle_tipoasociados_descripcion=" + descripcion +
								 "&mediadiv_adminbundle_tipoasociados_posicion=" + posicion +
								 "&mediadiv_adminbundle_tipoasociados_tiposeccion=" + seccion; 
					console.log(posicion);

					$.ajax({
						url: $("#tipoAsociado").attr('action'),
						type: 'POST',
						data: myData,
						success: function(data){
							$(".symfony-button-ajax").hide('fast');


							$("#listarAsociados").show('fast');

							alertify.success("Tu seccion ah sido creada satisfactoriamente");


						}
					});
				});
			})
		</script>
		

{% endblock %}
