{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_googleanalytics')}}"> Seguimiento</a> {% endblock %}
{% block hijo %}Editar Seguimiento {% endblock %}
{% block contenedor %}
    {{ form(edit_form) }}
{% endblock %}
