{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_googleanalytics')}}"> Seguimiento</a> {% endblock %}
{% block hijo %}Estadísticas {% endblock %}

{% block contenedor %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>



   google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart99);
        function drawChart99() {
            var data = google.visualization.arrayToDataTable([
                ['Dia', 'Visitas'],{% for navegadores in navegadores %}
                ['{{navegadores.label}}', {{ navegadores.nb_uniq_visitors }}],{% endfor %}
            ]);

            var options = {
                title: 'Navegadores',
                hAxis: {title: 'Year', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div99'));
            chart.draw(data, options);
        }





        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart1);
        function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['Dia', 'Visitas'],{% for visitasPorPas in visitasPorPas %}
                ['{{visitasPorPas.label}}', {{ visitasPorPas.nb_visits }}],{% endfor %}
            ]);

            var options = {
                title: 'Browser',
                hAxis: {title: 'Year', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div5'));
            chart.draw(data, options);
        }






        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart2);
        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Dia', 'Visitas'],{% for estaSemanaVisitas in estaSemanaVisitas %}
                ['{{estaSemanaVisitas.label}}', {{ estaSemanaVisitas.nb_visits }}],{% endfor %}
            ]);

            var options = {
                title: 'Visitas por Semana',
                hAxis: {title: 'Dias', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
        }



        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart3);
        function drawChart3() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],{% for os in os  %}
                ['{{os.label}}', {{ os.nb_visits }}],{% endfor %}
                ['', 0]

            ]);

            var options = {
                title: 'Operative System'
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));

            chart.draw(data, options);
        }



        google.load("visualization", "1", {packages: ["imagelinechart"]});
        google.setOnLoadCallback(drawChart4);
        function drawChart4() {
            var data = google.visualization.arrayToDataTable([
                ['Mes', 'Visitas'],
                
               
            ]);

            var chart = new google.visualization.ImageLineChart(document.getElementById('chart_div4'));

            chart.draw(data, {width: 400, height: 240, min: 0});
        }

        $(window).resize(function () {
            drawChart1();
            drawChart2();
            drawChart3();
            drawChart4();
            drawChart99();
        });

    </script>




    <div class="row">
    <div class="col-sm-12">
        <h3>Visión General: {{totalDevisitasHoy.value}} hoy.</h3>
        <div id="chart_div2" style="width:100%;height:300px;"></div>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <h3>Visitas por pagina</h3>

        <table class="table table-striped table-hover margin-0px">
            <thead>
            <tr>

                <td>Página</td>
                <td>Visitas por página </td>
                <td>Visita unica por página</td>
       
                

                
            </tr>
            </thead>
            <tbody>
                {% for visitasPorPagina in visitasPorPagina %}
                <tr>
                    <td>{{visitasPorPagina.label}}</td>
                    <td>{{visitasPorPagina.nb_visits}}</td>
                    <td>{{visitasPorPagina.nb_uniq_visitors}}</td>


                    

                </tr>
            {% endfor %}

            </tbody>

            


        </table>
        


    </div>
    

</div>



<div class="row" style="margin-top:2%;">
        <div class="col-sm-12">
            <h3>Navegadores</h3>
            <!--Div that will hold the pie chart-->
            <div id="chart_div99" style="width:100%;height:300px;"></div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Sistemas Operativos</h3>
            <div id="chart_div3" style="width:100%;height:300px;"></div>
        </div>
        
    </div>

    <!-- Google Chart -->





{% endblock %}