{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href"{{path('admin_googleanalytics_graficos')}}"> Estadísticas </a>{% endblock %}
{% block hijo %} Tag de Analytics  {% endblock %}
{% block contenedor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Script</th>
                <th>Estado</th>
                <th>Fechaingreso</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Actions</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Actions</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="#">{{ entity.id }}</a></td>
                    <td>{{ entity.script }}</td>
                    <td>{{ entity.estado }}</td>
                    <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">
                              

                              <li>
                                  
                                        
                                     
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_googleanalytics_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>



                              </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                  
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_googleanalytics_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                              
                                </li>
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for flashMessage in app.session.flashbag.get('analytics') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
