{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Ver listado de Productos</a>  {%endblock%}

{% block contenido %}



    <h1>Editar producto: </h1>
    <div class="horizontal-form" rol="form">
        {{form_start(edit_form)}}
        <div class="form-group">
            {{form_label(edit_form.nombre, 'Nombre', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.nombre, {'attr':{'class':'form-control'}})}}
        </div>


        <div class="form-group">
            {{form_label(edit_form.caracteristicasdos, 'Modelo:', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.caracteristicasdos, {'attr':{'class':'form-control'}})}}
        </div>








        <div class="form-group">
            {{form_label(edit_form.codigo, 'Modelo:', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.codigo, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.descripcion, 'Uso: ', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.descripcion, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.descripcioncorta, 'Peso:', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.descripcioncorta, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.caracteristicasuno, 'Descripción: ', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.caracteristicasuno, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.stock, 'Stock: ', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.stock, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.estado, 'Estado: ', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.estado, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{form_label(edit_form.subcategorias, 'Sub Categoría: ', {'label_attr':{'class':'control-label'}})}}
            {{form_widget(edit_form.subcategorias, {'attr': {'class':'dropdown form-control'}})}}
        </div>
        <div class="controls">
                {{form_widget(edit_form.submit, {'attr':{'class': 'btn btn-default pull-left'}})}}
        </div>
        <a class="btn btn-default" href="{{path('admin_productos_vistaUploadProducto')}}">Subir foto</a>
        
        {{form_end(edit_form)}}
    </div>
    <!-- Tabla con fotos -->
    <table id="fotoProducto">
        <thead>
            <th>Fotos: </th>
        </thead>
        <tbody>
            
                {% if entity.fotosproductos %}
                    {% set fotos = entity.fotosproductos %}
                    {% for foto in fotos %}
                    <tr id="foto-{{foto.id}}">
                        <td>
                            <img src="../../../productos/{{entity.id}}/{{foto.url}}" width="100" height="100"/>
                            <br>
                            <br>
                            <br>
                            <a id="fotoProducto-{{foto.id}}" class="eliminar">
                                <button class="btn btn-danger">Eliminar</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}    
                {% endif %}
           
        </tbody>
    </table>
    <!-- Tabla con fotos -->
    <!-- Formulario Action elimina foto Producto. -->
    <form id="formEliminaFotoProducto" action="{{path('admin_productos_elminaFotoProducto')}}"></form>
    <!-- Formulario Action elimina foto Producto. -->
    
    <!-- js Elimina producto -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#fotoProducto").on('click', '.eliminar', function(){
                
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                console.log(myData);
                
                $.ajax({
                    type: "POST",
                    url: $('#formEliminaFotoProducto').attr('action'),
                    dataType: "text",
                    data: myData,
                    success: function(response) {
                      $('#foto-' + DbNumberID).hide('slow');;

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
                
            });
        });
    </script>
    <!-- js Elimina producto -->
{% endblock %}
