{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos_vistaGuardarProducto') }}">Crear un nuevo Producto</a>  {%endblock%}

{% block contenido %}




    <style>

        #tablaProductos_length{
            margin-bottom: 40px;

        }
        .dataTables_filter{
            margin-bottom: 40px;

        }

        .search_init{

            width: 25%;
        }

        th{
            width: 10%;
        }




    </style>


    <h1>Listado de Productos: </h1>
    <br/>
    <br/>
    <table class="hero-unit"  id="tablaProductos">
        <thead>
            <tr>

                <th width="10%">Nombre</th>
                <th width="20%">Codigo</th>

                <th width="20%">Estado</th>
                <th width="20%">Imagen</th>
                <th width="20%">Acciones</th>
            </tr>
            <tr>

                <th width="20%">Nombre</th>
                <th width="20%">Codigo</th>

                <th width="20%">Estado</th>
                <th width="20%">Imagen</th>
                <th width="20%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.nombre }}</td>
                <td>{{ entity.codigo }}</td>

                <td>{{ entity.estado }}</td>
                <td>
                {% if entity.fotosproductos %}
                    {% set fotos = entity.fotosproductos %}
                    {% for foto in fotos %}
                        <img src="../../productos/{{entity.id}}/{{foto.url}}" width="100" height="100">
                    {% endfor %}
                {% endif %}
                </td>
                <td>
                    <ul style="list-style: none;">
                    <li>
                        <a href="{{ path('admin_productos_deleteProducto', { 'id': entity.id }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('admin_productos_vistaEditarProducto', { 'id': entity.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br/>
        <br/>
        <br/>
    <ul>
        <li>
            <a href="{{ path('admin_productos_vistaGuardarProducto') }}">
                Crear un nuevo producto.
            </a>
        </li>
    </ul>
    <script type="text/javascript">
            $(document).ready(function(){
                $('#tablaProductos').dataTable()
                        .columnFilter({ sPlaceHolder: "head:after",
                            aoColumns: [
                                { type: "text" },
                                { type: "text" }



                            ]
                        });
            });
    </script>
        <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('productos')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    {% endblock %}
