{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Ver lista de Productos</a>  {%endblock%}

{% block contenido %}
    <h1>Ingresa un nuevo Producto: </h1>
    <div class="horizontal-form" rol="form">
        {{form_start(form)}}
        <div class="form-group">
            {{form_label(form.nombre, 'Nombre: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.nombre, {'attr':{'class':'form-control'}})}}
            </div>
        </div>
        <br />
        <div class="form-group">
            {{form_label(form.codigo, 'Código', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.codigo, {'attr':{'class':'form-control'}})}}
            </div>
        </div>
        <br/>
        <div class="form-group">
            {{form_label(form.descripcion, 'Descripción: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.descripcion, {'attr':{'class':'form-control'}})}}
            </div>
        </div>
        <br />
        <div class="form-group">
            {{form_label(form.descripcioncorta, 'Descripción corta:', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.descripcioncorta, {'attr': {'class':'form-control'}})}}
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            {{form_label(form.caracteristicasuno, 'Caracteristica Uno: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.caracteristicasuno, {'attr': {'class':'form-control'}})}}
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            {{form_label(form.caracteristicasdos, 'Caracteristica Dos: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.caracteristicasdos, {'attr': {'class':'form-control'}})}}
            </div>
        </div>    
        <br/>
        <br/>
        <div class="form-group">
            {{form_label(form.caracteristicastres, 'Caracteristica Tres: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.caracteristicastres, {'attr': {'class':'form-control'}})}}
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            {{form_label(form.stock, 'Stock: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.stock, {'attr': {'class':'form-control'}})}}
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            {{form_label(form.estado, 'Estado: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.estado, {'attr': {'class':'form-control'}})}}
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            {{form_label(form.subcategorias, 'Sub Categoria: ', {'label_attr':{'class':'col-sm-2 control-label'}})}}
            <div class="col-sm-10">
                {{form_widget(form.subcategorias, {'attr': {'class':'dropdown form-control'}})}}
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{form_widget(form.submit, {'attr':{'class': 'btn btn-default'}})}}
            </div>
        </div>
        {{form_end(form)}}
    </div>
    <!-- Mostrando mensajes de success. -->
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flassMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mostrando mensajes de success. -->
{% endblock %}
