{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Listar Productos</a>  {%endblock%}

{% block contenido %}
    <h1>Productos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Descripcioncorta</th>
                <td>{{ entity.descripcioncorta }}</td>
            </tr>
            <tr>
                <th>Caracteristicasuno</th>
                <td>{{ entity.caracteristicasuno }}</td>
            </tr>
            <tr>
                <th>Caracteristicasdos</th>
                <td>{{ entity.caracteristicasdos }}</td>
            </tr>
            <tr>
                <th>Caracteristicastres</th>
                <td>{{ entity.caracteristicastres }}</td>
            </tr>
            <tr>
                <th>Caracteristicascuatro</th>
                <td>{{ entity.caracteristicascuatro }}</td>
            </tr>
            <tr>
                <th>Caracteristicascinco</th>
                <td>{{ entity.caracteristicascinco }}</td>
            </tr>
            <tr>
                <th>Caracteristicasseis</th>
                <td>{{ entity.caracteristicasseis }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_productos') }}">
           Regresar a la lista.
        </a>
    </li>
    <li>
        <a href="{{ path('admin_productos_edit', { 'id': entity.id }) }}" class="btn btn-default">
           Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
