{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Ver lista de Productos</a>  {%endblock%}

{% block contenido %}
    <h1>Ingresa un nuevo Producto:</h1>
    <br/>
    <form action="{{path('admin_productos_guardarProductos')}}" method="POST">
    <div rol="form">
        <div class="form-group">
            <label for="nombreProducto" class="control-label">
                Nombre -
            </label>
            <input name="nombreProducto" type="text" class="form-control">
        </div>


        <div class="form-group">
            <label for="caracteristicaDosProducto" class="control-label">
                Marca:
            </label>
            <input name="caracteristicaDosProducto" type="text" class="form-control">
        </div>


        <div class="form-group">
            <label for="codigo" class="control-label">
                Modelo:
            </label>
            <input name="codigoProducto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="control-label">
                Uso:
            </label>
            <input name="descripcionProducto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="control-label">
                Peso:
            </label>
            <input name="descripcionCortaProducto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="caracteristicaUnoProducto" class="control-label">
                Descripción:
            </label>
            <input name="caracteristicaUnoProducto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="stockProducto" class="control-label">
                Stock:
            </label>
            <input name="stockProducto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="estadoProducto" class="control-label">
                Estado:
            </label>
                <select name="estadoProducto" class="form-control">
                    <option>-- Seleccione Un estado --</option>
                    <option value="activado">Activado</option>
                    <option value="desactivado">Desactivado</option>
                </select>
        </div>
        <div class="form-group">
            <label for="categoriaProducto" class="control-label">
                Elejir Categoría:
            </label>
                <select name="categoriaProducto" id="categoriaProducto" class="form-control">
                    <option>-- Seleccione una categoría --</option>
                    {% for categoria in categoria %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label for="subcategoriaProducto" class="control-label">
                Elejir Sub-Categoría:
            </label>
                <select name="subcategoriaProducto" id="subcategoriaProducto" class="form-control">
                    <option>-- Seleccione una subcategoría --</option>
                </select>
        </div>
        <div class="controls">
                <input type="submit" name="guardarProducto" class="btn btn-default pull-left" value="Siguiente"/>
        </div>
    </div>
    </form>
 <!-- Mostrando mensajes de success. -->
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mostrando mensajes de success. -->
    <script type="text/javascript">
        $(function(){
            $("#categoriaProducto").change(function(){
                var data = {
                   categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("admin_productos_selectSubCategorias") }}',
                    data: data,
                    success: function(data) {
                        $('#subcategoriaProducto').empty();
                        console.log(data);

                        var $province_selector = $('#subcategoriaProducto');

                        $province_selector.append(data);
                        
                        
                    }
                });
            });
        });
    </script>
{% endblock%}
