{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Ver lista de Productos</a>  {%endblock%}

{% block contenido %}
    <h1>Editar Producto:</h1>
    <br/>
    <form action="{{path('admin_productos_guardarEditarProducto')}}" method="POST">
    <div rol="form">
        <input name="id" type="hidden" value="{{producto.id}}">
        
        <div class="form-group">
            <label for="nombreProducto" class="control-label">
                Nombre - Marca del producto:
            </label>
            <input name="nombreProducto" type="text" class="form-control" value="{{producto.nombre}}">
        </div>
        <div class="form-group">
            <label for="codigo" class="control-label">
                Modelo:
            </label>
            <input name="codigoProducto" type="text" class="form-control" value="{{producto.codigo}}">
        </div>
        <div class="form-group">
            <label for="" class="control-label">
                Uso:
            </label>
            <input name="descripcionProducto" type="text" class="form-control" value="{{producto.descripcion}}">
        </div>
        <div class="form-group">
            <label for="" class="control-label">
                Peso:
            </label>
            <input name="descripcionCortaProducto" type="text" class="form-control" value="{{producto.descripcioncorta}}">
        </div>
        <div class="form-group">
            <label for="caracteristicaUnoProducto" class="control-label">
                Descripción:
            </label>
            <input name="caracteristicaUnoProducto" type="text" class="form-control" value="{{producto.caracteristicasuno}}">
        </div>
        <div class="form-group">
            <label for="stockProducto" class="control-label">
                Stock:
            </label>
            <input name="stockProducto" type="text" class="form-control" value="{{producto.stock}}">
        </div>
        <div class="form-group">
            <label for="estadoProducto" class="control-label">
                Estado:
            </label>
                <select name="estadoProducto" class="form-control">
                    <option>-- Seleccione Un estado --</option>
                    {% if producto.estado == "activado" %}
                        <option value="activado" selected>Activado</option>
                        <option value="desactivado">Desactivado</option>
                    {% elseif producto.estado == "desactivad" %}
                        <option value="activado">Activado</option>
                        <option value="desactivado" selected>Desactivado</option>
                    {% endif %}
                    
                    
                </select>
        </div>
        <div class="form-group">
            <label for="categoriaProducto" class="control-label">
                Elejir Categoría:
            </label>
                <select name="categoriaProducto" id="categoriaProducto" class="form-control">



                    {% set subcat = producto.subcategorias %}
                    {% if producto.subcategorias  %}

                   <option value="{{subcat.categorias.id}}">{{subcat.categorias.nombre}}</option>

                    {% endif %}

                    {% for categoria in categoria %}
                        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label for="subcategoriaProducto" class="control-label">
                
                Elejir Sub-Categoría:

                {% set sub = categoria %}
            </label>
                <select name="subcategoriaProducto" id="subcategoriaProducto" class="form-control">
                {% if producto.subcategorias  %}
                 <option value="{{ producto.subcategorias.id }}"> {{ producto.subcategorias.nombre }}</option>

                   {% endif %}
                </select>
        </div>
        <div class="controls">
                <input type="submit" name="guardarProducto" class="btn btn-default pull-left" value="Editar"/>
                <a class="btn btn-default" href="{{path('admin_productos_vistaUploadProducto')}}">Subir foto</a>
        </div>
    </div>
    </form>
      <!-- Tabla con fotos -->
    <table id="fotoProducto">
        <thead>
            <th>Fotos: </th>
        </thead>
        <tbody>
            
                {% if producto.fotosproductos %}
                    {% set fotos = producto.fotosproductos %}
                    {% for foto in fotos %}
                    <tr id="foto-{{foto.id}}">
                        <td>
                            <img src="../../../productos/{{producto.id}}/{{foto.url}}" width="100" height="100"/>
                            <br>
                            <br>
                            <br>
                            <a id="fotoProducto-{{foto.id}}" class="eliminar">
                                <button class="btn btn-danger">Eliminar</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}    
                {% endif %}
           
        </tbody>
    </table>
    <!-- Tabla con fotos -->
    <!-- Formulario Action elimina foto Producto. -->
    <form id="formEliminaFotoProducto" action="{{path('admin_productos_elminaFotoProducto')}}"></form>
    <!-- Formulario Action elimina foto Producto. -->
    
    <!-- js Elimina producto -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#fotoProducto").on('click', '.eliminar', function(){
                
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                console.log(myData);
                
                $.ajax({
                    type: "POST",
                    url: $('#formEliminaFotoProducto').attr('action'),
                    dataType: "text",
                    data: myData,
                    success: function(response) {
                      $('#foto-' + DbNumberID).hide('slow');;

                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
                
            });
        });
    </script>
    <!-- js Elimina producto -->
 <!-- Mostrando mensajes de success. -->
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mostrando mensajes de success. -->
    <script type="text/javascript">
        $(function(){
            $("#categoriaProducto").change(function(){
                var data = {
                   categoria_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("admin_productos_selectSubCategorias") }}',
                    data: data,
                    success: function(data) {
                        $('#subcategoriaProducto').empty();
                        console.log(data);

                        var $province_selector = $('#subcategoriaProducto');

                        $province_selector.append(data);
                        
                        
                    }
                });
            });
        });
    </script>
    {% for flashMessage in app.session.flashBag.get('productos') %}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock%}
