{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_productos') }}">Listar Productos</a>  {%endblock%}
{% block contenido %}
    
    <link rel="stylesheet" href=" {{ asset('bundles/mediadivupload/upload/ui-lightness/jquery-ui-1.8.14.custom.css') }}" />

    <script src="{{ asset('bundles/mediadivupload/upload/jquery.js') }}"></script>

    <script src="{{asset('bundles/mediadivupload/upload/jquery-ui-1.8.14.custom.min.js') }}"></script>
    <link rel="stylesheet" href="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/css/jquery.ui.plupload.css')}}" type="text/css" />

    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.gears.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.silverlight.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.flash.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.browserplus.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html4.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html5.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/jquery.ui.plupload.js')}}"></script>

    <h1>Agregar imagen para producto / 104x120px: </h1>
    <h4>Sube tus imágenes con formato jpg , png (Máximo peso 100 KB). </h4>
    <br>
    <div id="uploader" style="width:900px;height:200px;margin-top: 80px;">

    </div>

    
    <!-- Mensajes exitosos. -->
    {% for flashMessage in app.session.flashbag.get('productos')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('productosGuardado')%}
        <div class="flash-message">
            <script type="text/javascript">
                $(document).ready(function(){
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
    <!-- Mensajes exitosos. -->
    <script type="text/javascript">

        $('document').ready(function() {

            $(function() {
                $("#uploader").plupload({
                    // General settings


                    runtimes : 'html5,flash',
                    url : 'uploadProducto',
                    max_file_size : '2000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size : '3mb',
                    autostart : true,
                    rename: true,
                    multiple_queues : true,


                    // Rename files by clicking on their titles
                    rename: true,

                    // Sort files
                    sortable: true,

                    // Specify what files to browse for
                    filters : [
                        {title : "Image files", extensions : "jpg,png,jpeg"}

                    ],

                    // Flash settings
                    flash_swf_url : "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",

                    // Silverlight settings
                    silverlight_xap_url : "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploader').submit(function(e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function() {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });

                        uploader.start();


                    } else
                        alert('You must at least upload one file.');


                    return false;
                });


            });

        });


    </script>

{% endblock %}