{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tiposeccion')}}">Sección</a> {% endblock %}
{% block hijo %}Editar Sección {% endblock %}
{% block nombreSeccion %} <h1>Sección <small> Editar </small></h1> {% endblock %}

{% block contenedor %}
<style>
    
    input[type=checkbox], input[type=radio]{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    margin-left: 2%;
    }

    #mediadiv_adminbundle_tiposeccion_tipoplantilla_1{
        margin-left: 7%;
    }


    #mediadiv_adminbundle_tiposeccion_tipoplantilla_0{
     margin-left: 4%
    }

    .imagen{
        width:100px;
        height:150px;
        position:relative;
        margin-left: 7%;
        border: 1px solid #CCCCCC;
    }

    .oculto{
        display:none;
    }

   
</style>




    {{form_start(edit_form)}}


 {{ block ('form_label') }}
    
            <h1>Tipo Plantilla</h1>

           <div class="row">

            {% set con = 0 %}
        {% for opciones in edit_form.tipoplantilla %}
            {% set con = con + 1 %}
            <div class="col-xs-6 col-md-4">
                <input type="radio" id="id-{{con}}" class="con" value="{{opciones.vars.value}}"  name="mediadiv_adminbundle_tiposeccion0[tipoplantilla]" {% if opciones.vars.checked %} checked="checked" {% endif %}>
                <img src="{{ asset('bundles/mediadivadmin/images/mock0'~con~'.jpg')}}" class="imagen"/>
            </div>

        {% endfor %}
           </div>
<script>
$(document).ready(function(){
$( ".con" ).on( "click", function() {

var clickedID = this.id.split('-');

    if( clickedID == 'id,1'){
       $("#mediadiv_adminbundle_tiposeccion_tipoplantilla_0").selected(true);


    }

    if( clickedID == 'id,2'){
       $("#mediadiv_adminbundle_tiposeccion_tipoplantilla_1").selected(true);


    }

    if( clickedID == 'id,3'){
       $("#mediadiv_adminbundle_tiposeccion_tipoplantilla_2").selected(true);


    }


});

});  
</script>
   
{{form_end(edit_form)}}    
{{ form(delete_form) }}
{% endblock %}
