{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tiposeccion_new')}}">Crear Sección</a> {% endblock %}
    {% block hijo %}Listar Secciones {% endblock %}

        {% block contenedor %}






            <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('bundles/mediadivtest/js/jquery-ui.min.js')}}"></script>



            <script>
                $(document).ready(function () {


                    $("#tablaSort").dataTable({
                        "orden": ["desc"]
                    });

                    $("#itemsort").sortable({
                        update: function () {
                            var nuevoOrden = [];
                            var pos = 0;
                            $("#itemsort tr").each(function () {
                                pos++;

                                var lista = {};
                                var id = $(this).attr("id");
                                lista.id = id;
                                $("#ordenSpan-" + id).empty();
                                $("#ordenSpan-" + id).text(pos);
                                lista.orden = pos;
                                nuevoOrden.push(lista);

                            });



                            $.post("{{path('updateListaTipoSeccion')}}",
                                {'nuevoOrden': nuevoOrden},
                                function (data) {
                                    alertify.success('posicion guardada');
                                }
                                );
                        }
                    });
});
</script>



<table class="table table-striped table-hover dataTable" id="tablaSort">
    <thead>
        <tr>
            <th>Orden</th>   
            <th>Id</th>
            <th>Titulo</th>
            {% if rol == 'ROLE_ADMIN' %}
                <th>Acciones</th>
                {% elseif rol == 'ROLE_USER' %}
                <th hidden>Acciones</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>Carousel
    <form id="itemlist">
        <tbody id="itemsort">
            {% for entity in entities %}
                <tr id="{{ entity.id }}" class="ui-state-default" style="height: 100px;">
                    <td ><span id="ordenSpan-{{entity.id}}">{{entity.orden}}<span></td>    
                    <td><a href="">{{ entity.id }}</a></td>
                    <td>{{ entity.titulo }}</td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul class="ulAcccion">


                                <li>
                                  

                                    <button type="button" class="btn btn-default"><a href="{{ path('admin_tiposeccion_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                    
                                    <button type="button" class="btn btn-default"><a href="{{ path('admin_tiposeccion_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                                </li>
                            </ul>

                        </td>
                        {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul class="ulAcccion">

                                <li>
                                  <button type="button" class="btn btn-default"><a href="{{ path('admin_tiposeccion_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                  
                                  <button type="button" class="btn btn-default"><a href="{{ path('admin_tiposeccion_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                              </li>
                          </ul>

                      </td>
                  {% endif %}

                  <td><i class="fa fa-arrows" style="font-size: 20px;color:black;"></i></td>
              </tr>
          {% endfor %}
      </tbody>
  </form>
</table>
{% for flashMessage in app.session.flashbag.get('tiposeccion') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function () {
                alertify.success("{{flashMessage}}");
            });
        </script>
    </div>
{% endfor %}

{% endblock %}
