{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tiposeccion')}}">Lista de Sección</a> {% endblock %}
{% block hijo %}Crear Sección{% endblock %}
{% block contenedor %}

<style>
    
    input[type=checkbox], input[type=radio]{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    margin-left: 2%;
    }

    #mediadiv_adminbundle_tiposeccion_tipoplantilla_1{
        margin-left: 7%;
    }


    #mediadiv_adminbundle_tiposeccion_tipoplantilla_0{
     margin-left: 4%
    }

    .imagen{
        width:100px;
        height:150px;
        position:relative;
        margin-left: 7%;
        border: 1px solid #CCCCCC;
    }
</style>




{{form_start(form)}}



   
 {% block _mediadiv_adminbundle_tiposeccion_tipoplantilla_0 %}
  <style>
.oculto{
    display:none;
}
  </style>     
  
        {{ block ('form_label') }}
    
            <h1>Tipo Plantilla</h1>

           <div class="row">

          {% set con = 0 %}
        {% for opciones in form.tipoplantilla %}
              {% set con = con + 1 %}

            <div class="col-xs-6 col-md-4">
                <input type="radio" id="{{opciones.vars.id}}" value="{{opciones.vars.value}}"  name="mediadiv_adminbundle_tiposeccion[tipoplantilla]" >
                <img src="{{ asset('bundles/mediadivadmin/images/mock0'~con~'.jpg')}}" class="imagen"/>
            </div>
        {% endfor %}
           </div>

        
  
    {% endblock %}
   

    
    {{form_end(form)}}
    </div>
{% endblock %}
