{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_tiposeccion')}}">Listar Seccion</a> {% endblock %}
{% block padre %}Crear Seccion {% endblock %}

{% block contenedor %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_tiposeccion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_tiposeccion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
