{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_noticias')}}"> Noticias</a> {% endblock %}
{% block hijo %}<a href="{{path('admin_noticias_new')}}"> Crear Noticias</a> {% endblock %}
{% block nombreSeccion %} <h1>  TipoNoticias <small> Crear</small></h1> {% endblock %}

{% block contenedor %}

    <form id="tipoEstadistica" action="{{path('admin_tiponoticias_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>

		<a id="listarNoticias" href="{{path('admin_noticias')}}" class="btn btn-default">Listar Noticias</a>

		<script type="text/javascript">
			$(function(){
				$("#listarNoticias").hide('fast');

				$(".symfony-button-ajax").click(function(){
					var titulo = $("#mediadiv_adminbundle_tiponoticias_titulo").val();
					var descripcion = $(".nicEdit-main").text();

					var myData = "mediadiv_adminbundle_tiponoticias_titulo=" + titulo +
								 "&mediadiv_adminbundle_tiponoticias_descripcion=" + descripcion;

					$.ajax({
						url: $("#tipoEstadistica").attr('action'),
						type: 'POST',
						data: myData,
						success: function(data){
							$(".symfony-button-ajax").hide('fast');
							$("#listarNoticias").show('fast');
							alertify.success("Tu contenido se creado satisfactoriamente");
						}
					});
				});
			})
		</script>
{% endblock %}
