{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_carruselhome')}}"> Accordion</a> {% endblock %}
{% block hijo %}Editar Accordion {% endblock %}


{% block contenedor %}

{{ form(edit_form) }}


{% endblock %}
