{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_carruselhome')}}">Listar Contenido Accordion</a> {% endblock %}
{% block hijo %}Crear Contenino Accordion {% endblock %}


{% block contenedor %}

    {{ form(form) }}

    
{% endblock %}
