{# Formulario Agregar Caluga #}
{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}


{% block padre %} <a href="{{ path('admin_subcategorias') }}">Listar Sub Categorias</a>  {%endblock%}
{% block hijo %} <a href="{{ path('admin_subcategorias_new')}}">Agregar Sub Categoria</a>  {%endblock%}


{% block contenido %}

    <h1>Editar Sub-Categorías</h1>

    {{ form(edit_form) }}

{% endblock %}
