{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_subcategorias_new')}}">Agregar Sub Categoria</a>  {%endblock%}


{% block contenido %}
    <h1>Listado de Sub-Categorías </h1>



    <style>

        #tablaSubCategorias_length{
            margin-bottom: 40px;

        }
        .dataTables_filter{
            margin-bottom: 40px;

        }

        .search_init{

            width: 25%;
        }




    </style>



    <table class="hero-unit"  id="tablaSubCategorias">
        <thead>
            <tr>
                <!--
                <th>Id</th>
                -->
                <th>Nombre</th>
                <th>Fechaingreso</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>

            <tr>
                <!--
                <th>Id</th>
                -->
                <th>Nombre</th>
                <th>Fechaingreso</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>

        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#
                <td><a href="{{ path('admin_subcategorias_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                #}
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>

                  {{  entity.categorias.nombre }}
                </td>
                <td>
                    <ul style="list-style: none;">
                    <li>
                        <a href="{{ path('admin_subcategorias_delete3', { 'id': entity.id }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('admin_subcategorias_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_subcategorias_new') }}">
                Crear una nueva sub Categoria
            </a>
        </li>
    </ul>

    <script>

        $(document).ready(function(){
            $('#tablaSubCategorias').dataTable()
                    .columnFilter({ sPlaceHolder: "head:after",
                        aoColumns: [

                            { type: "text" },
                            { type: "text" },
                            { type: "text" },
                            { type: "text" }




                        ]

                    });
        });

    </script>



{% for flashMessage in app.session.flashbag.get('subcategoria') %}
    <div class="flash-notice">
    <script type="text/javascript">
        $(document).ready(function(){
            alertify.success('{{flashMessage}}');
        });
    </script>
    </div>
{% endfor %}
    {% endblock %}
