{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_subcategorias') }}">Listar Sub Categorias</a>  {%endblock%}

{% block contenido %}
    <h1>Ingresa una nueva Sub-Categoría: </h1>

    {{ form(form) }}
        
<!-- Mensajes -->
{% for flashMessage in app.session.flashbag.get('mensaje') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function(){
               alertify.success("{{flashMessage}}");
            });
        </script>
    </div>
{% endfor %}
<!-- Mensajes -->
{% endblock %}
