{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_seccion_new')}}">Crear Contenido Sección</a> {% endblock %}
{% block hijo %}Listar Contenido Sección {% endblock %}

{% block contenedor %}





    <table class="table table-striped table-hover dataTable" id="table-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Aparace en</th>
                <th>Imagen</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>


        <form id="itemlist">
            <tbody id="itemsort">
                {% for entity in entities %}
                    <tr id="{{ entity.id }}" class="ui-state-default" style="height: 100px;" >
                        <td><a href="#">{{ entity.id }}</a></td>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.contenido|raw }}</td>
                        <td> {% if entity.tiposeccion %}{{ entity.tiposeccion.titulo }} {% endif %}</td>
                        <td><img src="{{web_image("seccion/"~entity.id~"/"~entity.imagen ).resize('20%')}}" alt=""></td>
                            {% if rol == 'ROLE_ADMIN' %}
                            <td>
                                <ul style="list-style: none;">
                                    <li >
                                        <button type="button" class="btn btn-default"><a href="{{ path('admin_seccion_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                                   


                                         <button type="button" class="btn btn-default"><a href="{{ path('admin_seccion_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                                    </li>
                                </ul>
                            </td>
                        {% elseif rol == 'ROLE_USER' %}
                            <td hidden>
                                <ul style="list-style: none;">
                                    <li >
                                        <a href="{{ path('admin_seccion_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"><span class="accion">Eliminar</span></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_seccion_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"><span class="accion">Editar</span></i></a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
        </form>
    </tbody>
</table>

{% for flashMessage in app.session.flashbag.get('seccion') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function () {
                alertify.success("{{flashMessage}}");
            });
        </script>
    </div>
{% endfor %}
{% endblock %}
