{% extends 'MediadivTestBundle:Layer:base.html.twig' %}

{% block  contenido %}
    
    <h1>TestSort edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('test_testsort') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
