{% extends 'MediadivTestBundle:Layer:base.html.twig' %}

{% block  contenido %}




    <script>
        $(document).ready(function () {
            $("#itemsort").sortable({
                update: function () {
                    var nuevoOrden = [];
                    var pos = 0;
                    $("#itemsort tr").each(function () {
                        pos++;

                        var lista ={};
                        var id = $(this).attr("id");
                        lista.id = id;
                        lista.orden =  pos;
                        nuevoOrden.push(lista);

                    });
                    
                 
              
                    $.post("{{path('updateLista')}}", 
                        {'nuevoOrden': nuevoOrden},
                       
                        function(data){

                            alert('posicion guardada');



                        }
                    );
                }
            });
        });
    </script>
    <div id="info">Espere a que cargue.</div>
    <table class="ui-sortable" style="width:800px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Nombre</th>
                <th>Descripcion</th>
     
     
            </tr>
        </thead>
        <form id="itemlist">
            <tbody id="itemsort">
                {% for entity in entities %}
                    <tr id="{{ entity.id }}" class="ui-state-default" style="height: 100px;" >
                        <td><a href="{{ path('test_testsort_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.posicion }}<input type="hidden" id="pos-{{entity.id}}" value="{{entity.posicion}}"></td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td><spam class="ui-state-defaultt" style="width: 50px;height:50px;"></spam></td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </form>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_testsort_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </ul>
    {% endblock %}
