{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_tags')}}">Listar Tags</a> {% endblock %}
{% block padre %}<a href="{{path('admin_tags_new')}}"> Crear Tags</a> {% endblock %}
{% block nombreSeccion %} <h1>Tags <small> Editar</small></h1> {% endblock %}
{% block contenedor %}
    {{ form(edit_form) }}
{% endblock %}
