{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_tags')}}">Listar Tags</a> {% endblock %}
{% block padre %}<a href="{{path('admin_tags_new')}}"> Crear Tags</a> {% endblock %}
{% block nombreSeccion %} <h1>Tags <small> Listar</small></h1> {% endblock %}


{% block contenedor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Fechaingreso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_tags_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_tags_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_tags_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_tags_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
