{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_categorias') }}">Listar Categorias</a>  {%endblock%}

{% block contenido %}
    <h1>Editar Categoría:      </h1>
    <div rol="form">
        {{form_start(edit_form)}}
        
        <div class="form-group">
        {{form_label(edit_form.nombre, 'Nombre: ')}}
        {{form_widget(edit_form.nombre, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{form_label(edit_form.descripcion, 'Descripción:')}}
        {{form_widget(edit_form.descripcion, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="control " >
    {{form_widget(edit_form.submit, {'attr':{'class': 'btn btn-default pull-left'}})}}
    </div>
    <table id="fotoCategoria">
        <thead>
            <th> Fotos: </th>
        </thead>
        <tbody>
            {% if entity.fotocategoria %}
                {% set foto = entity.fotocategoria %}
                {% for foto in foto %}
                    <tr id="foto-{{foto.id}}">
                        <td>
                            <img src="../../../categoria/{{entity.id}}/{{foto.url}}" width="100" height="100">
                            <br>
                            <br>
                            <br>
                            <a id="fotoCategoria-{{foto.id}}" class="eliminar">
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </a>
                               
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        {{form_end(edit_form)}}
    </div>
    <!-- Formulario Ajax Elimina Foto -->
    <form id="formEliminaFotoCategoria" action="{{path('admin_categorias_eliminarFotoCategoria')}}"></form>
    <!-- Formulario Ajax Elimina Foto --> 
            
<script type="text/javascript">
        $(document).ready(function(){
            $("#fotoCategoria").on('click', '.eliminar', function(e){
                e.preventDefault();
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                console.log(myData);
                
                $.ajax({
                    type: "POST",
                        url: $('#formEliminaFotoCategoria').attr('action'),
                        dataType: "text",
                        data: myData,
                        success: function(response) {
                          $('#foto-' + DbNumberID).hide('slow');;

                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError);
                        }
                });
            });
        });
    </script>
{% endblock %}
