{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_categorias_new')}}">Agregar Categoría</a>  {%endblock%}


{% block contenido %}

    <style>

       #tablaCategorias_length{
            margin-bottom: 40px;

        }
        .dataTables_filter{
            margin-bottom: 40px;

        }

        .search_init{

            width: 25%;
        }




</style>
    <h1>Listado de Categorías: </h1>

    <table class="hero-unit" id="tablaCategorias">
        <thead>
            <tr>
                <th width="20%">Nombre</th>
                <th width="20%">Descripcion</th>
                <th width="20%">Fechaingreso</th>
                <th width="20%">Foto</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha Ingreso</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#
                <td><a href="{{ path('admin_categorias_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                #}
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if entity.fotocategoria %}
                        {% set foto =  entity.fotocategoria %}
                        {% for foto in foto %}
                            <img src="../../categoria/{{entity.id}}/{{foto.url}}"   height="100" width="100" />
                        {% endfor %}
                    {% endif %}
                    
                </td>
                <td>
                    <ul style="list-style: none;">
                        <li>
                            <a href="{{ path('admin_categorias_eliminarCategoria', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('admin_categorias_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <ul>
        <li>
            <a href="{{ path('admin_categorias_new') }}">
                Crear una categoria
            </a>
        </li>
    </ul>
                
   <script>
        $(document).ready(function(){
            $('#tablaCategorias').dataTable()
                    .columnFilter({ sPlaceHolder: "head:after",
                        aoColumns: [
                            { type: "text" },
                            { type: "text" },
                            { type: "text" },
                            { type: "text" }
                        ]
                    });
        });
    </script>
    
<!-- Mostrar mensajes. -->
{% for flashMessage in app.session.flashbag.get('categoria') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function(){
                alertify.success("{{flashMessage}}")
            });
        </script>
    </div>
{% endfor %}
<!-- Mostrar mensajes. -->
    {% endblock %}
