{% extends "MediadivAdminBundle:layers:basePrincipal.html.twig" %}

{% block hijo %} <a href="{{ path('admin_categorias') }}">Listar Categoría </a>  {%endblock%}

{% block contenido %}
    <h1>Ingresa una nueva Categoría:</h1>
    <br/>
    <div rol="form">
    {{form_start(form)}}
    <div class="form-group">
        {{form_label(form.nombre, 'Nombre: ')}}
        {{form_widget(form.nombre, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{form_label(form.descripcion, 'Descripción:')}}
        {{form_widget(form.descripcion, {'attr': {'class':'form-control'}})}}
        
    </div>
        <div class="controls">
        {{form_widget(form.submit, {'attr':{'class': 'btn btn-default pull-left'}})}}
        </div>
    {{form_end(form)}}
    </div>
{% endblock %}
