{# Formulario Agregar Caluga #}
{% extends "MediadivAdminloginBundle:layers:basePrincipal.html.twig" %}
{% block title%} Agregar Calugas Art&iacute;culo {% endblock%}
{% block padre %}<a href="">Listar Calugas</a>{% endblock %}
{% block hijo %} Agregar Calugas Art&iacute;culo  {%endblock%}
{% block titulo %} Agregar Calugas Art&iacute;culo {%endblock %}
{% block contenido %}
    <div class="container well">
        <form action="{{path('guardarCaluga')}}" method="POST" class="form-horizontal" role="form">
            <!-- Titulo -->
            <div class="form-group">
                <label for="titulo" class="col-sm-2 control-label">
                    Titulo:
                </label>
                <div class="col-sm-10">
                    <input name="titulo" type="text" id="nombre" class="form-control">
                </div>
            </div>
            <!-- Titulo -->
            <!-- Idioma -->
            <div class="form-group">
                <label for="idioma" class="col-sm-2 control-label">
                    Idioma:
                </label>
                <div class="col-sm-10">
                    <select name="idioma" id="idioma" class="form-control">
                        <option>Opción</option>

                        <option value="Ingles">Ingles</option>
                        <option value="Español">Español</option>
                    </select>
                </div>
            </div>
            <!-- Idioma -->
            <!-- Descripcion Corta -->
            <div class="form-group">
                <label for="descripcioncorta" class="col-sm-2 control-label">
                    Descripcion Corta:
                </label>
                <div class="col-sm-10">
                    <input name="descripcioncorta" type="text" class="form-control">
                </div>
            </div>
            <!-- Descripcion Corta -->
            <!-- Descripcion -->
            <div class="form-group">
                <label for="descripcion" class="col-sm-2 control-label">
                    Descripcion:
                </label>
                <div class="col-sm-10">
                    <textarea name="descripcion" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <!-- Descripcion -->
            <!-- Boton -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Cargar Imágenes  </button>
                </div>
            </div>
            <!-- Boton -->
        </form>
    </div>
{% endblock%}
