{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoempresa')}}">Tipo Clientes</a> {% endblock %}
{% block hijo %}Editar tipo empresa {% endblock %}
   {% block contenedor %}
 
    {{ form(edit_form) }}

    
{% endblock %}
