{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_empresas')}}">Listar Tipo Clientes</a> {% endblock %}
{% block hijo %}Crear Tipo clientes {% endblock %}
{% block contenedor %}
 


    <form id="tipoEmpresa" action="{{path('admin_tipoempresa_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>
		<a id="listarEmpresa" href="{{path('admin_tipoempresa')}}" title="" class="btn btn-default">Listar Tipo Cliente</a>
		<script type="text/javascript">
			$(function(){
						var seccion = "{{idSeccionHome}}";


					$("select > option[value*='{{idSeccionHome}}']").remove();
				$("#listarEmpresa").hide('fast');



				$(".symfony-button-ajax").click(function(){
					var titulo = $("#mediadiv_adminbundle_tipoempresa_titulo").val();
					var descripcion = $(".nicEdit-main").text();
					var posicion = $("#mediadiv_adminbundle_tipoempresa_posicion").val();
					var seccion = $("#mediadiv_adminbundle_tipoempresa_tiposeccion").val();

					var myData = "mediadiv_adminbundle_tipoempresa_titulo=" + titulo +
								 "&mediadiv_adminbundle_tipoempresa_descripcion=" + descripcion +
								 "&mediadiv_adminbundle_tipoempresa_posicion=" + posicion +
								 "&mediadiv_adminbundle_tipoempresa_tiposeccion=" + seccion;

					$.ajax({
						url: $("#tipoEmpresa").attr('action'),
						type: 'POST',
						data: myData,
						success: function(data){
							$(".symfony-button-ajax").hide('fast');
							$("#listarEmpresa").show('fast');

							alertify.success("Tu seccion ah sido creada satisfactoriamente");
							
						}
								 	
					});

				});
			})
		</script>

      {% for flashMessage in app.session.flashbag.get('tipoempresa') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
