{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_potencialidades')}}">Potencialidades</a> {% endblock %}
{% block hijo %} <a href="{{path('admin_potencialidades_new')}}"> Crear Potencialidades</a> {% endblock %}
{% block nombreSeccion %} <h1>SPotencialidades <small> Editar</small></h1> {% endblock %}
{% block contenedor %}
	
    {{ form(edit_form) }}

    
    
{% endblock %}
