{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_potencialidades')}}">Potencialidades</a> {% endblock %}
{% block hijo %} <a href="{{path('admin_potencialidades_new')}}"> Crear Potencialidades</a> {% endblock %}
{% block nombreSeccion %} <h1>Potencialidades <small> Listar</small></h1> {% endblock %}
{% block contenedor %}


    <table class="table table-striped table-hover dataTable" id="table-1">
        <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Porcentaje</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.porcentaje }}</td>
                    <td>

                        
                        <ul>
                            <li>
                                <a href="{{ path('admin_potencialidades_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('admin_potencialidades_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for flashMessage in app.session.flashbag.get('potencialidad') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
