{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_titles')}}">Title Listar</a> {% endblock %}
{% block padre %}<a href="{{path('admin_titles_new')}}">Title Crear</a> {% endblock %}
{% block nombreSeccion %} <h1>Title <small> Listar</small></h1> {% endblock %}

{% block contenedor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Estado</th>
                
                <th>Fechaingreso</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Actions</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Actions</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_titles_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.estado }}</td>
                    
                    <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>


                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_titles_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('admin_titles_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                            </li>
                        </ul>
                    </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                        <ul>
                            <li>
                                <a href="{{ path('admin_titles_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </li>
                            <li>
                                <a href="{{ path('admin_titles_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>
                            </li>
                        </ul>
                    </td>
                    {% endif %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
