{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block hijo %}<a href="{{path('admin_titles')}}">Title Listar</a> {% endblock %}
{% block padre %}<a href="{{path('admin_titles_new')}}">Title Crear</a> {% endblock %}
{% block nombreSeccion %} <h1>Title <small> Crear</small></h1> {% endblock %}

{% block contenedor %}
    {{ form(form) }}
{% endblock %}
