{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoaccordion')}}"> Tipo Accordion </a> {% endblock %}
{% block hijo %} Editar Tipo Accordion {% endblock %}
{% block contenedor %}
   

    {{ form(edit_form) }}

{% endblock %}
