{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoaccordion_new')}}"> Tipo Accordion crear </a> {% endblock %}
{% block hijo %} Tipo Accordion listar  {% endblock %}
{% block contenedor %}

            dump(entities)
            <table class="table table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Sección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="#">{{ entity.id }}</a></td>
                            <td>{{ entity.titulo }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.tiposeccion.titulo }}</td>
                            
                                <td>
                                    <ul style="list-style: none;">
                                        <li>



                                   <button type="button" class="btn btn-default"><a href="{{ path('admin_tipoaccordion_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_tipoaccordion_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>


                                    </li>
                                    </ul>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
