{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_tipoaccordion')}}">Listar tipo Accordion</a> {% endblock %}
{% block hijo %} Crear Tipo Accordion</a> {% endblock %}
	{% block contenedor %}
		<form id="tipoAccordion" action="{{path('admin_tipoaccordion_create')}}" method="POST">
			{{ form_widget(form) }}
			<input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
		</form>
		<a id="listarAccordion" href="{{path('admin_tipoaccordion')}}" title="Listar Accordion" class="btn btn-default"> Listar Accordion</a>
		<script type="text/javascript">
			$(function(){
				$("#listarAccordion").hide('fast');

				$('input.symfony-button-ajax').click(function (event) {
					event.preventDefault();

					var titulo = $("#mediadiv_adminbundle_tipoaccordion_titulo").val();
					var descripcion = $(".nicEdit-main").text();
					var posicion = $("#mediadiv_adminbundle_tipoaccordion_posicion").val();
					var seccion = $("#mediadiv_adminbundle_tipoaccordion_tiposeccion").val();

					var data = "mediadiv_adminbundle_tipoaccordion_titulo=" + titulo +
					"&mediadiv_adminbundle_tipoaccordion_descripcion=" + descripcion +
					"&mediadiv_adminbundle_tipoaccordion_posicion=" + posicion + 
					"&mediadiv_adminbundle_tipoaccordion_tiposeccion=" + seccion;

					

					$.ajax({
						type: "POST",
						url: $("#tipoAccordion").attr('action'),
						data: data,
						success: function(data) {
							$(".symfony-button-ajax").hide('fast');
							$("#listarAccordion").show('fast');
							alertify.success("Tu seccion ah sido creada satisfactoriamente");
						}
					});

				});
			});
		</script>
	{% endblock %}