{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_clientes')}}"> Testimonio </a> {% endblock %}
{% block hijo %}Editar Testimonio {% endblock %}
{% block contenedor %}


    {{ form(edit_form) }}





    <img src="{{web_image("clientes/"~entity.id~"/"~entity.foto ).resize('20%')}}" class="ls-bg" alt="Slide background"/>



    <div id="cambiarFoto" class="btn btn-default">Cambiar foto</div> 
    <a id="listarTestimonios" href="{{path('admin_clientes')}}" class="btn btn-default">Listar Testimonios</a>




    <script>
        $('document').ready(function () {

            $('#cambiarFoto').click(function () {

                $('#modalUpload').modal('show');
            });

        });


    </script>


    <!-- modal foto -->
    <div class="modal fade" id="modalUpload" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cambiar Foto</h4>
                </div>
                <div class="modal-body">




                    <link rel="stylesheet" href=" {{ asset('bundles/mediadivupload/upload/ui-lightness/jquery-ui-1.8.14.custom.css') }}" />


                    <script src="{{asset('bundles/mediadivupload/upload/jquery-ui-1.8.14.custom.min.js') }}"></script>
                    <link rel="stylesheet" href="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/css/jquery.ui.plupload.css')}}" type="text/css" />

                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.gears.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.silverlight.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.flash.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.browserplus.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html4.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html5.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/jquery.ui.edit.js')}}"></script>


                    <br>
                    <div id="uploader" style="width:550px;height:200px;margin-top: 80px;">
                        <form action="{{path('uploadCliente' , { 'id' : entity.id }) }}" id="uploadForm"></form>
                    </div>
                    <br />

                    <script type="text/javascript">

        $('document').ready(function () {

            $(function () {
                $("#uploader").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: $('#uploadForm').attr('action'),
                    max_file_size: '100000000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '3mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                });



                // Client side form validation
                $('#uploader').submit(function (e) {

                    var uploader = $('#uploader').plupload('getUploader');



                    // Files in queue upload them first
                    if (uploader.files.length > 0) {
                        // When all files are uploaded submit form
                        uploader.bind('StateChanged', function () {
                            if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                                $('form')[0].submit();

                            }
                        });
                        alert('subiendo' + uploader.total.uploaded);
                        uploader.start();




                    } else
                        alert('You must at least upload one file.');


                    return false;
                });


            });

        });


                    </script>







                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- -->




{% endblock %}
