{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_clientes_new')}}"> Crear Contenido Testimonio </a> {% endblock %}
{% block hijo %}Listar Contenido Testimonio {% endblock %}
{% block nombreSeccion %} <h1> Testimonio <small> Listar</small></h1> {% endblock %}
{% block contenedor %}

    <table class="table table-striped table-hover dataTable" id="table-1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Profesion</th>
                <th>Tipo</th>
                <th>Foto</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Actions</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Actions</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.profesion }}</td>
                    <td>{% if entity.tipocliente %} {{entity.tipocliente.titulo}} {% endif %}</td>
                 

                    <td><img src="{{web_image("clientes/"~entity.id~"/"~entity.foto ).resize('25%')}}" class="ls-bg" alt="Slide background"/></td>
                        {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">

                                <li>


                             <button type="button" class="btn btn-default"><a href="{{ path('admin_clientes_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_clientes_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                                  
                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                                

                             <button type="button" class="btn btn-default"><a href="{{ path('admin_clientes_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_clientes_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                              
                                </li>
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for flashMessage in app.session.flashbag.get('clientes') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
