{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_redessociales_new')}}">Crear Redes sociales</a>{% endblock %}
{% block hijo %}Redes sociales {% endblock %}

{% block contenedor %}


    <table class="table table-striped table-hover dataTable" id="table-1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Icono</th>
                <th>Title</th>
                <th>Link</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="#">{{ entity.id }}</a></td>
                    <td><i class="fa {{entity.icono}}" style="font-size:25px;"></i></td>

                    <td>{{ entity.title }}</td>
                    <td>{{ entity.link }}</td>


                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">
                                <li>

                              <button type="button" class="btn btn-default"><a href="{{ path('admin_redessociales_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_redessociales_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                              
                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                                    <a href="{{ path('admin_redessociales_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"><span class="accion">Eliminar</span></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_redessociales_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"><span class="accion">Editar</span></i></a>
                                </li>
                            </ul>
                        </td>
                    {% endif %}

                {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.session.flashbag.get('redsocial') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}

{% endblock %}
