{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_redessociales')}}">Redes sociales</a>{% endblock %}
{% block hijo %}Crear Redes sociales{% endblock %}
{% block contenedor %}


    {{ form(form) }}

    
{% endblock %}
