{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RedesSociales</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Icono</th>
                <td>{{ entity.icono }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_redessociales') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_redessociales_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
