{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_estadisticas')}}">Estadística</a> {% endblock %}
{% block hijo %}Editar Estadísticar {% endblock %}
{% block contenedor %}
    {{ form(edit_form) }}
{% endblock %}
