{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_estadisticas_new')}}">Crear Estadística</a> {% endblock %}
{% block hijo %}Listar Estadísticar {% endblock %}
{% block contenedor %}


    <table class="table table-striped table-hover dataTable" id="table-1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Aparace en</th>
                <th>Cantidad</th>
                <th>Icono</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>

                    <td><a href="#">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{% if entity.tipoestadisticas %}{{ entity.tipoestadisticas.titulo }} {% endif %}</td>
                    <td>{{ entity.cantidad }}</td>
                    <td> <i class="fa {{entity.icon}}" style="font-size:25px;"></i></td>

                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">
                                <li>

<button type="button" class="btn btn-default"><a href="{{ path('admin_estadisticas_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>

                                </li>
                                <li>
<button type="button" class="btn btn-default"><a href="{{ path('admin_estadisticas_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>                                    
                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                                  <button type="button" class="btn btn-default"><a href="{{ path('admin_estadisticas_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>>
                                </li>
                                <li>
                               <button type="button" class="btn btn-default"><a href="{{ path('admin_estadisticas_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>                                    
                                </li>
                            </ul>
                        </td>
                    {% endif %}



                </tr>
            {% endfor %}
        </tbody>
    </table>

   {% for flashMessage in app.session.flashbag.get('estadistica') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function(){
                alertify.success("{{flashMessage}}");
            });
        </script>
    </div>
{% endfor %}

{% endblock %}
