{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_estadisticas')}}">Estadística</a> {% endblock %}
{% block hijo %}Crea Estadística {% endblock %}
{% block contenedor %}
    
			{{ form(form) }}
	
		</script>
{% endblock %}
