<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawStuff);




      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Opening Move', 'Cantidad'],
          {% for dispositivo in dispositivos %}
         [ '{{dispositivo.label}}' , {{dispositivo.nb_visits }}],
         {% endfor %}
          ['', 0]
        ]);

        var options = {
          title: 'Dispositivos',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'Dispositivos',
                   subtitle: 'Dispositivos' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Cantidad'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
  </head>
  <body>
    <div id="top_x_div" style="width: 900px; height: 500px;"></div>
  </body>


    {{ dump(dispositivos) }}


</html>