
{% extends "MediadivAdminBundle:layers:base.html.twig" %}

{% block cuerpo %}



    <div id="cl-wrapper" class="login-container">

        <div class="middle-login">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center">Administrador</h3>
                </div>

      


     


                <div>
                    <form style="margin-bottom: 0px !important;" class="form-horizontal"  id="loginForm" action="{{ path('login_check') }}" method="post">
                        <div class="content">
                            <h4 class="title">Acceder </h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">




                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" id="password" name="_password"  class="form-control">




                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="foot">

                       <button type="submit">login</button>

                            <section id="respuesta">

                                 {% if error %}
    <div><i class="fa fa-exclamation-circle"></i> Usuario o Password Incorrecto</div>
{% endif %}



                            </section>
                        </div>
                    </div>
                </form>
                        
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2014 Mediadiv Ltda. </a></div>
        </div>

    </div>




{% endblock  %}
