{% extends "MediadivAdminBundle:layers:baseLogin.html.twig" %}
{% block contenedor %}


<div class="login-block">
      <form action="{{ path('login_check') }}" id="login-form" class="orb-form"  method="post">
        <header>
          <div class="image-block"></div>
          <span style="color:#ffffff;">Mediadiv  - Administrador</span><small></small></header>
        <fieldset>
          <section>
            <div class="row">
              <label class="label col col-4">Usuario</label>
              <div class="col col-8">
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" value="{{ last_username }}" name="_username">
                </label>
              </div>
            </div>
          </section>
          <section>
            <div class="row">
              <label class="label col col-4">Contraseña</label>
              <div class="col col-8">
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="_password" >
                </label>
             
              </div>
            </div>
          </section>
          <section>
            <div class="row">
              <div class="col col-4"></div>
              <div class="col col-8">
                <section id="respuesta">

{% if error %}
    <div>Usuario o Password Incorrecto</div>
{% endif %}


              </div>
            </div>
          </section>
        </fieldset>
        <footer>
          <button type="submit" class="btn btn-default">Ingresar</button>
        </footer>
      </form>
    </div>

 {% endblock %}   