{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block nombreSeccion %} <h1>Panel de control</h1> {% endblock %}

{% block contenedor %}
    <!--Comentario para hacer pull-->
    <!-- Title -->
    <div class="row">
        <!-- TITLE -->
        <div class="col-md-6">
            <h2>Título de la sitio web:</h2>
            {% if title %}
                <form action="{{path('admin_titles_update', {'id': title.id})}}" method="POST">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input name="title" id="title" type="text" class="form-control" value="{{title.title}}" >
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            {% else %}
                <form action="{{path('admin_titles_create')}}" method="POST">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input name="title" id="title" type="text" class="form-control" value="" >
                    </div>
                    <div class="form-group">
                        <label for="estado">Seleccione un estado</label>
                        <select name="estado" id="estado" class="form-control">
                            <option value="1">Activado</option>
                            <option value="0">Desactivado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            {% endif %}

        </div>

        <div class="col-md-6">
            <!--Calendar-->
                  <div class="calendar-day-block">
                    
                    <form action="" id="data-pickers" class="orb-form bg-blue">
                      <fieldset>
                      <section>
                        <div id="inline"></div>
                      </section>
                    </form>
                  </div>
                  <!--/calendar-day-block-->
        </div>
        <!-- TAG -->
        <div class="col-md-12">
            <h2>Descripción de sitio web (Etiqueta o Tag):</h2>
            {% if tag %}
                <form action="{{path('admin_tags_update', { 'id': tag.id })}}">

                    <div class="form-group">
                        <label for="descripcion">TAG:</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" >{% if tag %}{{tag.descripcion}}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            {% else %}
                <form action="{{path('admin_tags_create')}}">
                    <div class="form-group">
                        <label for="descripcion">TAG:</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="estado">Seleccione un estado:</label>
                        <select name="estado" id="estado" class="form-control">
                            <option value="1">Activado</option>
                            <option value="0">Desactivado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            {% endif %}



        </div>
    </div>


    <style>

        .testCarrusel{
            width: 100%;

        }
    </style>

    <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-white powerwidget-sortable" id="widget5" data-widget-editbutton="false" role="widget">
        <header role="heading">




            <div class="powerwidget-ctrls" role="menu"> <a href="#" class="button-icon powerwidget-delete-btn"><i class="fa fa-times-circle"></i></a>  <a href="#" class="button-icon powerwidget-fullscreen-btn"><i class="fa fa-arrows-alt "></i></a> <a href="#" class="button-icon powerwidget-toggle-btn"><i class="fa fa-chevron-circle-up "></i></a></div><span class="powerwidget-loader"></span></header>
        <div class="inner-spacer nopadding" role="content">
            <div class="portlet-profile">
                <div class="user-img"></div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                </ol>


                <div class="carousel-inner">
                    <div class="item item4"><img src="{{ asset('bundles/mediadivadmin/images/Banner_Cms.jpg')}}" class="testCarrusel" alt=""></div>
                    <div class="item item5"><img src="{{ asset('bundles/mediadivadmin/images/gallery/3.png')}}" class="testCarrusel" alt=""></div>
                    <div class="item item6 active"><img src="{{ asset('bundles/mediadivadmin/images/gallery/3.png')}}" class="testCarrusel" alt=""></div>
                </div>



                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
        </div>
    </div>

    <!-- fin de noticias -->

    {% for flashMessage in app.session.flashbag.get('title') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('tag') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}

{% endblock %}