{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_noticias_new')}}"> Crear Noticias</a> {% endblock %}
{% block hijo %}Listar Noticias {% endblock %}

{% block contenedor %}

    <table class="table table-striped table-hover dataTable" id="table-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Contenido</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="#">{{ entity.id }}</a></td>


                    <td><img src=" {{web_image("noticias/"~entity.id~"/"~entity.imagen ).resize('20%')}}" alt=""></td>
                    <td>{{ entity.titulo }}</td>
                    <td>{{ entity.contenido|raw}}</td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">
                                <li>
                            
                            <button type="button" class="btn btn-default"><a href="{{ path('admin_noticias_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_noticias_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>
                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden >
                            <ul style="list-style: none;">
                                <li>
                                
                            <button type="button" class="btn btn-default"><a href="{{ path('admin_noticias_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_noticias_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                              
                                </li>
                            </ul>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for flashMessage in app.session.flashbag.get('noticia') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
