<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mediadiv - Login</title>
<link href="{{ asset('bundles/mediadivadmin/css/styles.css')}}" rel="stylesheet" type="text/css">

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />




</head>

<body>
<div class="colorful-page-wrapper">
  <div class="center-block">
    
    {% block contenedor %}


    {% endblock %}



    
</div>

<!--Scripts--> 
<!--JQuery--> 
<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/jquery/jquery.min.js')}}"></script> 



<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/jquery/jquery-ui.min.js')}}"></script>




<!--Forms--> 
<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.form.min.js')}} "></script>



<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.validate.min.js')}}"></script> 



<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.maskedinput.min.js')}} "></script> 



<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/jquery-steps/jquery.steps.min.js')}}"></script> 

<!--NanoScroller--> 







<!--Sparkline--> 
<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/sparkline/jquery.sparkline.min.js')}}"></script> 

<!--Main App--> 


<script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/scripts.js')}}"></script>



<!--/Scripts-->

</body>
</html>