<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="{{ asset('bundles/mediadivadmin/css/styles.css')}}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  
</head>

<body>

    <!--Smooth Scroll-->
    <div class="smooth-overflow">
        <!--Navigation-->
        <nav class="main-header clearfix" role="navigation"> <a class="navbar-brand" href="{{path('loginVista')}}"> <img src="http://www.mediadiv.cl/images/logo-nav.png" width="70%" alt=""></a> 



            <!--Navigation Itself-->

            <div class="navbar-content"> 


                <!--Right Userbar Toggler--> 
                <a href="#" class="btn btn-user right-toggler pull-right"><i class="entypo-vcard"></i> <span class="logged-as hidden-xs">Logged as</span><span class="logged-as-name hidden-xs">Anton Durant</span></a> 


            </div>





        </nav>

        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/jquery/jquery.min.js')}}"></script> 




        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/nicEdit.js')}}"></script>


        <script type="text/javascript">

            bkLib.onDomLoaded(function () {
                nicEditors.allTextAreas({
                    iconsPath: '{{asset("bundles/mediadivadmin/js/nicEditorIcons.gif")}}'
                });
                $("div.nicEdit-main").addClass('form-control');
            });
        </script>


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/jquery/jquery-ui.min.js')}}"></script> 

        <!--Demo Script for File Input Fields.-->
        <script>
            $(function () {
                $('input[type="file"]').change(function () {
                    $(this).parent().next().val($(this).val());
                });
            });
        </script>





        <!--Fullscreen--> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/fullscreen/screenfull.min.js')}}"></script> 

        <!--Forms--> 


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.form.min.js')}}"></script> 


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.validate.min.js')}}"></script> 


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/forms/jquery.maskedinput.min.js')}}"></script> 



        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/sparkline/jquery.sparkline.min.js')}}"></script> 

        <!--Horizontal Dropdown--> 


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/horisontal/cbpHorizontalSlideOutMenu.js')}}"></script> 

        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/classie/classie.js')}}"></script> 

        <!--PowerWidgets--> 




        <!--Bootstrap--> 


        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/bootstrap/bootstrap.min.js')}}"></script> 

        <!--ToDo--> 


        <!--Datatables--> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/datatables/jquery.dataTables.min.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/datatables/jquery.dataTables-bootstrap.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/datatables/dataTables.colVis.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/todos/todos.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/scripts.js')}}"></script>


        <!-- Alertify -->
        <link href="{{ asset('bundles/mediadivadmin/js/vendors/alertify/alertify.bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/mediadivadmin/js/vendors/alertify/alertify.core.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/mediadivadmin/js/vendors/alertify/alertify.default.css')}}" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/vendors/alertify/alertify.min.js')}}"></script> 
        <!-- Alertify -->

       
    
        <script type="text/javascript" src="{{ asset('bundles/mediadivadmin/js/fontawesome-iconpicker.js')}}"></script>
        <style>
            .iconpicker-popover.popover{
                width:40%;

            }
        </style>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

         <link href="{{ asset('bundles/mediadivadmin/css/fontawesome-iconpicker.css')}}" rel="stylesheet" type="text/css">
     

        <script>
            $(function () {


                $('.icp-auto').iconpicker();
                $('.icp-dd').each(function () {
                    var $this = $(this);
                    $this.iconpicker({
                        title: 'Dropdown with picker',
                        container: $(' ~ .dropdown-menu:first', $this)
                    });
                });
                $('.icp-glyphs').iconpicker({
                    title: 'Using glypghicons',
                    icons: ['home', 'repeat', 'search',
                        'arrow-left', 'arrow-right', 'star'],
                    iconBaseClass: 'glyphicon',
                    iconComponentBaseClass: 'glyphicon',
                    iconClassPrefix: 'glyphicon-'
                });




                // Events sample:
                // This event is only triggered when the actual input value is changed
                // by user interaction
                $('.icp').on('iconpickerSelected', function (e) {
                    $('.lead .picker-target').get(0).className = 'picker-target fa-3x ' +
                            e.iconpickerInstance.options.iconBaseClass + ' ' +
                            e.iconpickerInstance.getValue(e.iconpickerValue);
                });
            });
        </script>

<style type="text/css">
select.input-sm{
    height:40px;
}



</style>

        <!--/Scripts-->
        <!--/Navigation--> 

        <!--MainWrapper-->
        <div class="main-wrap"> 

            <!--OffCanvas Menu -->
            <aside class="user-menu"> 
                <!-- Tabs -->
                <div class="tabs-offcanvas">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#userbar-one" data-toggle="tab"></a></li>

                    </ul>
                    <div class="tab-content"> 

                        <!--User Primary Panel-->
                        <div class="tab-pane active" id="userbar-one">
                            <div class="main-info">
                                <h1>{{username}} 
                                    <small>
                                        {% if rol == 'ROLE_ADMIN' %}
                                            ADMINISTRADOR
                                        {% elseif rol == 'ROLE_USER' %}
                                            USUARIO
                                        {% endif %}

                                    </small></h1>
                            </div>
                            <div class="list-group">
                                <a href="{{path('admin_admin_edit',{'id': userid})}}" class="list-group-item"><i class="fa fa-user"></i>Perfil</a> 
                                <a data-toggle="modal" href="{{path('logout')}}" class="list-group-item goaway">
                                    <i class="fa fa-power-off"></i> Salir
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /tabs --> 


            </aside>
            <style>
                .btn{
                    margin-top: 30px;
                }
                label{
                    margin-top: 20px;
                }

                #listaFotos{
                    list-style: none;
                }
                .ulAcccion{

                    list-style: none;

                }
                .accion{
                    font-size: 19px;
                    margin-left: 2px;
                }

                .liimagen{
                    width: 300px;
                    margin: 0px;
                    padding: 5px;
                }


                .imagen{
                    max-width: 99%;
                }
            </style>
            {% include "MediadivAdminBundle:layers:menu.html.twig" %}







            <!--/Menu-->

            <!--Content Wrapper-->
            <div class="content-wrapper"> 
                <!--Horisontal Dropdown-->


                <!--Breadcrumb-->
                <div class="breadcrumb clearfix">
                    <ul>
                        <li><a href="{{path('PrincipalAdminVista')}}"><i class="fa fa-home"></i></a></li>
                        <li>{% block padre %} {% endblock %}</li>
                        <li class="active" style="width:400px;">{% block hijo %} {% endblock %}</li>
                    </ul>
                </div>
                <!--/Breadcrumb-->

                <div class="page-header">
                    {% block nombreSeccion %}  {% endblock %}
                </div>

                <!-- Widget Row Start grid -->
                <div class="row" id="powerwidgets">
                    <div class="col-md-12 bootstrap-grid"> 

                        {% block contenedor %}



                        {% endblock %}

                    </div>

                </div>





            </div>
            <!-- /Inner Row Col-md-12 --> 
        </div>
        <!-- /Widgets Row End Grid--> 
    </div>
    <!-- / Content Wrapper --> 
</div>
<!--/MainWrapper--> 
</div>
<!--/Smooth Scroll--> 


<!-- scroll top -->
<div class="scroll-top-wrapper hidden-xs">
    <i class="fa fa-angle-up"></i>
</div>
<!-- /scroll top -->



<!--Modals-->

<!--Power Widgets Modal-->
<div class="modal" id="delete-widget">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="fa fa-lock"></i> </div>
            <div class="modal-body text-center">
                <p>Are you sure to delete this widget?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="trigger-deletewidget-reset">Cancel</button>
                <button type="button" class="btn btn-primary" id="trigger-deletewidget">Delete</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Sign Out Dialog Modal-->
<div class="modal" id="signout">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="fa fa-lock"></i> </div>
            <div class="modal-body text-center">Are You Sure Want To Sign Out?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="yesigo">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Lock Screen Dialog Modal-->
<div class="modal" id="lockscreen">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="fa fa-lock"></i> </div>
            <div class="modal-body text-center">Are You Sure Want To Lock Screen?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="yesilock">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Scripts--> 
<!--JQuery--> 
{% block js %}

{% endblock %}



</body>
</html>