<div class="responsive-admin-menu">
    <div class="responsive-menu">MEDIADIV
        <div class="menuicon"><i class="fa fa-angle-down"></i></div>
    </div>



    <ul id="menu">

        <!-- Dashboard -->
        <li><a class="active" href="{{path('loginVista')}}" title="Dashboard"><i class="entypo-briefcase"></i><span> Panel de control</span></a>

        </li>
        <!-- Dashboard -->
        <!-- Roles -->
        <li >
            <!-- Forms Sub-Menu -->

        </li>
        <!-- Roles -->
        {% if rol == "ROLE_ADMIN" %}
            <!-- usuario -->

            <li><a href="#" class="submenu" data-id="usuario-sub" title="Tables"><i class="fa fa-user"></i><span>Usuario</span></a> 

                <ul id="usuario-sub" class="accordion">
                    <li><a href="{{path('admin_admin_new')}}" title="Timeline"><i class="fa fa-plus-square"></i><span> Crear</span></a></li>
                    <li><a href="{{path('admin_admin')}}" title="Profile"><i class="fa fa-pencil-square-o"></i><span> Editar</span></a></li>
                </ul>
            </li>
            <!-- usuario -->
            {% elseif rol == "ROLE_USER" %}
            <!-- usuario -->

            <li hidden><a href="#" class="submenu" data-id="usuario-sub" title="Tables"><i class="fa fa-user"></i><span>Usuario</span></a> 

                <ul id="usuario-sub" class="accordion">
                    <li><a href="{{path('admin_admin_new')}}" title="Timeline"><i class="fa fa-plus-square"></i><span> Crear</span></a></li>
                    <li><a href="{{path('admin_admin')}}" title="Profile"><i class="fa fa-pencil-square-o"></i><span> Editar</span></a></li>
                </ul>
            </li>
            <!-- usuario -->
        {% endif %}


        <!-- Tipo Seccion -->
        <li><a class="submenu" href="#" data-id="tiposeccion-sub" title="Other Contents"><i class="fa fa-file-text-o"></i>
        </i><span> Sección</span></a> 
        <!-- Forms Sub-Menu -->
        <ul id="tiposeccion-sub" class="accordion">
            <li><a href="{{path('admin_tiposeccion_new')}}" title="Bootstrap Forms"><i class="fa fa-plus-square "></i><span> Crear</span></a></li>
            <li><a href="{{path('admin_tiposeccion')}}" title="Forms"><i class="fa fa-pencil-square-o"></i><span>  Editar</span></a></li>
        </ul>
    </li>
    <!-- Tipo Seccion -->
    <!-- Seccion -->
    <li><a class="submenu" href="#" data-id="seccion-sub" title="Other Contents"><i class="fa fa-files-o"></i><span>Contenido Sección</span></a> 
        <!-- Forms Sub-Menu -->
        <ul id="seccion-sub" class="accordion">
            <li><a href="{{path('admin_seccion_new')}}" title="Bootstrap Forms"><i class="fa fa-plus-square"></i><span> Crear</span></a></li>
            <li><a href="{{path('admin_seccion')}}" title="Forms"><i class="fa fa-pencil-square-o "></i><span>  Editar</span></a></li>
        </ul>
    </li>
    <!-- Seccion -->

    <li><a href="#" class="submenu" data-id="analytics-sub" title="Tables"><i class="fa fa-signal"></i><span>Seguimiento</span></a> <!-- Analytics -->

        <ul id="analytics-sub" class="accordion">
            <li><a href="{{path('admin_googleanalytics_graficos')}}" title="Profile"><i class="fa fa-signal"></i>
                <span> ESTADÍSTICAS</span></a></li>

            

                <li><a href="{{path('admin_googleanalytics_edit' , {"id" : 1 })}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar</span></a></li>


            </ul>
        </li>
        <!-- Analytics -->
        {#

        <li><a href="#" class="submenu" data-id="tables-sub" title="Tables"><i class="fa fa-file-image-o"></i><span>Carousel / Slider</span></a> 
            <ul id="tables-sub" class="accordion">
            </ul>
        </li>
        #}


        <li><a href="#" class="submenu" data-id="social-sub" title="Tables"><i class="fa fa-users"></i><span> Redes Sociales</span></a> 

            <ul id="social-sub" class="accordion">
                <li><a href="{{path('admin_redessociales_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Redes Sociales</span></a></li>
                <li><a href="{{path('admin_redessociales')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Redes Sociales</span></a></li>
            </ul>
        </li>





        <li><a href="#" class="submenu" data-id="noticias-sub" title="Tables"><i class="fa fa-eye"></i><span> Noticias Home</span></a> 

            <ul id="noticias-sub" class="accordion">
                <li><a href="{{path('admin_noticias_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Noticias </span></a></li>
                <li><a href="{{path('admin_noticias')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Noticias</span></a></li>
            </ul>
        </li>






        <li><a href="#" class="submenu" data-id="contacto-sub" title="Tables"><i class="fa fa-comment-o"></i><span> Contacto </span></a> 

            <ul id="contacto-sub" class="accordion">

                
                <li><a href="{{path('admin_contacto_edit' , { "id" : 1 })}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span>  Editar Contacto</span></a></li>

            </ul>
        </li>






        <li><a class="submenu" href="#" data-id="modulos-sub" title="Other Contents"><i class="fa fa-cubes"></i><span>Modulos</span></a> 

            <!-- Forms Sub-Menu -->
            <ul id="modulos-sub" class="accordion">

                <li><a href="#" class="submenu" data-id="subSlider"><i class="fa fa-file-image-o"></i><span> Slider</span></a>
                    <ul id="subSlider" class="accordion">
                        <li><a href="{{path('admin_slider_new')}}" title="Bootstrap Forms" ><i class="fa fa-plus-square"></i><span> Crear</span></a></li>
                        <li><a href="{{path('admin_slider')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar</span></a></li>
                    </ul>
                </li>

                
                <li><a href="#" class="submenu" data-id="subAccordion"><i class="fa fa-list"></i><span> Accordion</span></a>
                    <ul id="subAccordion" class="accordion">
                        <li><a href="{{path('admin_tipoaccordion_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Tipo</span></a></li>
                        <li><a href="{{path('admin_tipoaccordion')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Tipo</span></a></li>
                        <li><a href="{{path('admin_carruselhome_new')}}" title="Profile"><i class="fa fa-files-o"></i><span>Crear Contenido </span></a></li>
                        <li><a href="{{path('admin_carruselhome')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span>Editar Contenido </span></a></li>
                    </ul>
                </li>


                <li><a href="#" class="submenu" data-id="subClientes"><i class="fa fa-university"></i><span> Clientes</span></a>
                    <ul id="subClientes" class="accordion">
                        <li><a href="{{path('admin_tipoempresa_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Tipo</span></a></li>
                        <li><a href="{{path('admin_tipoempresa')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Tipo</span></a></li>
                        <li><a href="{{path('admin_empresas_new')}}" title="Profile"><i class="fa fa-files-o"></i><span>Crear Contenido</span></a></li>
                        <li><a href="{{path('admin_empresas')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Contenido</span></a></li>
                    </ul>
                </li>


                <li><a href="#" class="submenu" data-id="subTesti"><i class="fa fa-user"></i><span> Testimonios</span></a>
                    <ul id="subTesti" class="accordion">
                        <li><a href="{{path('admin_tipocliente_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Tipo</span></a></li>
                        <li><a href="{{path('admin_tipocliente')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Tipo</span></a></li>
                        <li><a href="{{path('admin_clientes_new')}}" title="Profile"><i class="fa fa-files-o"></i><span>Crear Contenido</span></a></li>
                        <li><a href="{{path('admin_clientes')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Contenido</span></a></li>
                    </ul>
                </li>


                <li><a href="#" class="submenu" data-id="subAsoc"><i class="fa fa-thumbs-up"></i><span> Asociados</span></a>
                    <ul id="subAsoc" class="accordion">
                        <li><a href="{{path('admin_tipoasociados_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crea Tipo</span></a></li>
                         <li><a href="{{path('admin_tipoasociados')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Tipo</span></a></li>
                        <li><a href="{{path('admin_asociados_new')}}" title="Profile"><i class="fa fa-files-o"></i><span>Crear Contenido</span></a></li>
                        <li><a href="{{path('admin_asociados')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Contenido</span></a></li>
                    </ul>
                </li>


                <li><a href="#" class="submenu" data-id="subEstad"><i class="fa fa-signal"></i><span> Estadísticas</span></a>
                    <ul id="subEstad" class="accordion">
                        <li><a href="{{path('admin_tipoestadisticas_new')}}" title="Profile"><i class="fa fa-plus-square"></i><span> Crear Tipo</span></a></li>
                        <li><a href="{{path('admin_tipoestadisticas')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Tipo</span></a></li>
                        <li><a href="{{path('admin_estadisticas_new')}}" title="Profile"><i class="fa fa-files-o"></i><span>Crear Contenido</span></a></li>
                        <li><a href="{{path('admin_estadisticas')}}" title="Timeline"><i class="fa fa-pencil-square-o"></i><span> Editar Contenido</span></a></li>
                    </ul>
                </li>








                

            </ul>


        </li>



    </ul>
</div>
