{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_contacto')}}"> Contacto</a> {% endblock %}
{% block hijo %}<a href="{{path('admin_contacto_new')}}"> Crear Contacto</a> {% endblock %}
{% block nombreSeccion %} <h1>Contacto <small> Listar</small></h1> {% endblock %}


{% block contenedor %}



    <table class="table table-striped table-hover dataTable" id="table-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email de envio</th>
                <th>Latitud</th>
                <th>Longitud</th>

                {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="#">{{ entity.id }}</a></td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.direccion | raw }}</td>
                    <td>{{ entity.telefono }}</td>
                    <td>{{ entity.emailEnvio }}</td>
                    <td>{{ entity.latitude }}</td>
                    <td>{{ entity.lagitude }}</td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td>
                            <ul style="list-style: none;">
                                <li>
                                    <a href="{{ path('admin_contacto_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"><span class="accion">Eliminar</span></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_contacto_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"><span class="accion">Editar</span></i></a>
                                </li>
                            </ul>
                        </td>
                    {% elseif rol == 'ROLE_USER' %}
                        <td hidden>
                            <ul style="list-style: none;">
                                <li>
                                    <a href="{{ path('admin_contacto_delete', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"><span class="accion">Eliminar</span></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_contacto_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"><span class="accion">Editar</span></i></a>
                                </li>
                            </ul>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.session.flashbag.get('contacto') %}
        <div class="flash-notice">
            <script type="text/javascript">
                $(document).ready(function () {
                    alertify.success("{{flashMessage}}");
                });
            </script>
        </div>
    {% endfor %}
{% endblock %}
