{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_asociados_new')}}">Crear Asociados</a> {% endblock %}
{% block hijo %} Listar Asociados {% endblock %}


{% block contenedor %}



    <table class="table table-striped table-hover dataTable" id="table-1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Foto</th>
                <th>Titulo</th>
                <th>Texto</th>
                    {% if rol == 'ROLE_ADMIN' %}
                    <th>Acciones</th>
                    {% elseif rol == 'ROLE_USER' %}
                    <th hidden>Acciones</th>
                    {% endif %}

            </tr>
        </thead>


        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="">{{ entity.id }}</a></td>
                    <td><img src="{{web_image("asociados/"~entity.id~"/"~entity.foto ).resize('50%')}}" class="ls-bg" alt="Slide background"/></td>
                    <td>{{ entity.titulo }}</td>
                    <td>{{ entity.texto|raw }}</td>
                    {% if rol == 'ROLE_ADMIN' %}
                        <td >
                            <ul style="list-style: none;">
                                <li>


      
                             <button type="button" class="btn btn-default"><a href="{{ path('admin_asociados_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_asociados_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>




                                </li>
                            </ul>
                        </td>

                    </tr>
                {% elseif rol == 'ROLE_USER' %}
                <td hidden>
                    <ul style="list-style: none;">
                        <li>
                       

                             <button type="button" class="btn btn-default"><a href="{{ path('admin_asociados_delete', { 'id': entity.id }) }}"><span class="accion">Eliminar</span> </a></button>
                                        
                              <button type="button" class="btn btn-default"><a href="{{ path('admin_asociados_edit', { 'id': entity.id }) }}"><span class="accion">Editar</span> </a></button>

                       </li>
                    </ul>
                </td>
            </tr>
        {% endif %}

    {% endfor %}
</tbody>
</table>
   {% for flashMessage in app.session.flashbag.get('asociados') %}
    <div class="flash-notice">
        <script type="text/javascript">
            $(document).ready(function(){
                alertify.success("{{flashMessage}}");
            });
        </script>
    </div>
{% endfor %}

{% endblock %}
