{% extends "MediadivAdminBundle:layers:base.html.twig" %}
{% block padre %}<a href="{{path('admin_asociados')}}">Listar Asociados</a> {% endblock %}
{% block hijo %} Crear Asociados {% endblock %}

{% block contenedor %}

    <form id='formAsociados' action="{{ path('admin_asociados_create') }}" method="post">

        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="symfony-button-ajax btn btn-success"/>
    </form>

    <div id="subirFoto" class="btn btn-default">Subir foto de 278x180 px.</div> 
    <a id="listarAsocioados" href="{{path('admin_asociados')}}" class="btn btn-default">Listar asociados</a> 

    <script>
        $(function () {
            $("#subirFoto").click(function () {
                $("#modalUpload").modal('show');
            });
        });
    </script>

    <!-- modal foto -->
    <div class="modal fade" id="modalUpload" style="width:90%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Subir Foto</h4>
                </div>
                <div class="modal-body">
                    <!-- Upload -->

                    <link rel="stylesheet" href=" {{ asset('bundles/mediadivupload/upload/ui-lightness/jquery-ui-1.8.14.custom.css') }}" />


                    <script src="{{asset('bundles/mediadivupload/upload/jquery-ui-1.8.14.custom.min.js') }}"></script>
                    <link rel="stylesheet" href="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/css/jquery.ui.plupload.css')}}" type="text/css" />

                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.gears.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.silverlight.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.flash.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.browserplus.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html4.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/plupload.html5.js')}}"></script>
                    <script type="text/javascript" src="{{asset('bundles/mediadivupload/upload/jquery.ui.plupload/jquery.ui.new.js')}}"></script>


                    <br>
                    <div id="uploader" style="width:560px;height:300px;margin-top: -0px;">
                        <form action="{{path('uploadAsociados')}}" id="uploadForm"></form>
                    </div>
                    <br />

                    <script type="text/javascript">

        $('document').ready(function () {

            $(function () {
                $("#uploader").plupload({
                    // General settings


                    runtimes: 'html5,flash',
                    url: $('#uploadForm').attr('action'),
                    max_file_size: '100000000kb',
                    max_file_count: 20, // user can add no more then 20 files at a time
                    chunk_size: '3mb',
                    autostart: true,
                    rename: true,
                    multiple_queues: true,
                    // Rename files by clicking on their titles
                    rename: true,
                            // Sort files
                            sortable: true,
                    // Specify what files to browse for
                    filters: [
                        {title: "Image files", extensions: "jpg,png,jpeg"}

                    ],
                    // Flash settings
                    flash_swf_url: "{{asset('bundles/mediadivupload/js/plupload.flash.swf')}}",
                    // Silverlight settings
                    silverlight_xap_url: "{{asset('bundles/mediadivupload/js/plupload.silverlight.xap')}}",
                    init: Respuesta
                });

                function Respuesta(uploader) {
                    uploader.bind('Error', function (up, args) {
                        console.log('[error] ', args);
                    });

                    uploader.bind('FileUploaded', function (up, file, response) {

                        var file = response.response;

                        id = $('#bandera').val();
                        
                        $("#listarAsocioados").show('fast');

                        $('#subirFoto').empty();
                        $('#subirFoto').text('Cambiar foto');
                        $('#listaFotos').empty();
                        $('#listaFotos').append("<li class='liimagen'><img class='imagen' src='../../asociados/" + id + "/" + file + "' >  </li>");


                        



                    });
                }



            });

        });


                    </script>

                    <!-- Upload -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <input type="hidden" id="bandera" value="">

    <script type="text/javascript">
        {# añadirmos una función al evento click de todos los enlaces a.notice_link, para
usar AJAX en vez de su comportamiento por defecto #}
    $(document).ready(function () {

        /*oculta el boton subir foto.*/
        $("#subirFoto").hide('fast');
        $("#listarAsocioados").hide('fast');


        $('input.symfony-button-ajax').click(function (event) {
            event.preventDefault(); //cancela el comportamiento por defecto

        {#
            mediadiv_adminbundle_asociados[texto]
        #}
                    var tituloAsociados = $("#mediadiv_adminbundle_asociados_titulo").val();
                    var textareaAsociados = $(".nicEdit-main").text();
                    var seccionAsociados = $("#mediadiv_adminbundle_asociados_tipoasociados").val();
                    

                    var myData = "mediadiv_adminbundle_asociados_titulo=" + tituloAsociados +
                            "&mediadiv_adminbundle_asociados_texto=" + textareaAsociados +
                            "&mediadiv_adminbundle_asociados_tipoasociados=" + seccionAsociados;


                    $.ajax({
                        type: "POST",
                        url: $('#formAsociados').attr('action'),
                        data: myData,
                        //cache: false,
                        success: function (data) {

                            $("#subirFoto").show('fast');
                            

                            var id = data.idAsociados;
                            $('#bandera').val(id);
                            $(".symfony-button-ajax").hide('fast');

                        }
                    });


                    //$('#index-response').load($(this).attr('href')); //carga por ajax a la capa "notice_viewer"
                });
            });
        {# añadirmos una función al evento click de todos los enlaces a.notice_link, para
        usar AJAX en vez de su comportamiento por defecto #}

    </script>



    <ul id="listaFotos">


    </ul>



{% endblock %}
